@charset "UTF-8";
.transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  display: table;
  margin: 0 auto; }

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-container-just {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0; }

.height-float:after {
  content: '';
  display: table;
  clear: both; }

/* normalize */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .navbar {
    display: none; }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important; }
  .label {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
  .table td,
  .table th {
    background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */ }

/* menu */
/* Grid system */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

/* slick */
.slider-home {
  width: 100%;
  overflow-x: hidden; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block;
  width: 100%; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
td,
button,
input,
textarea,
select,
label {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
button,
input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s; }

a:hover,
button:hover,
input[type="submit"]:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
section,
div,
article {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }

input,
a {
  text-decoration: none;
  outline: 0; }

input:hover,
a:hover,
input:focus,
a:focus {
  text-decoration: none;
  outline: 0; }

/* commons-theme */
:focus {
  outline: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  outline: 0 !important; }

input[type="checkbox"]:before,
input[type="radio"]:before {
  width: 13px;
  height: 13px;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url("../images/icon-checkbox.png") no-repeat center;
  content: '';
  display: inline-block;
  margin-right: 6px;
  top: 0px; }

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  background: url("../images/icon-checked.png") no-repeat center; }

.container:after {
  content: '';
  display: table;
  clear: both; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.semi {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.btn-orange {
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  background: #ff7d31;
  color: #fff;
  padding: 11px 32px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-orange:hover {
  background: #a9d42d; }

/* COOKIES */
#barracookies {
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 17px;
  z-index: 999999999;
  width: 100%; }

#barracookies p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#barracookies .btn.btn-black {
  margin-left: 15px;
  padding: 11px 15px; }

#barracookies .link-page {
  text-decoration: underline !important;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-left: 10px; }

/* error 404 */
.container-error404 {
  height: 30vh;
  float: left;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: table;
  background-color: white;
  text-align: center; }

.container-error404 h2 {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.5); }

.container-error404 p {
  display: table;
  float: left;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 27px;
  font-size: 1.6875rem;
  margin-top: 20px;
  margin-bottom: 30px; }

.container-error404 a {
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.container-error404 a:hover {
  opacity: 0.7; }

/* legal */
.content-gen {
  padding: 80px 0 140px 0; }

.content-gen .mod-legal .title {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  color: #a9d42d;
  margin-bottom: 35px;
  text-transform: uppercase; }

.content-gen .mod-legal h2 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  margin-bottom: 20px; }

.content-gen .mod-legal p {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  margin-bottom: 15px; }

/* header */
#wpadminbar {
  display: none !important; }

.header {
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #000;
  padding: 47px 0 20px 0; }

.header:after {
  content: '';
  display: table;
  clear: both; }

.header.menu-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 0 11px 0; }

.header.menu-fijo #cssmenu {
  padding-top: 4px; }

.header.menu-fijo .llamanos-wpml {
  display: none; }

.header.menu-fijo .logo img {
  max-height: 46px; }

.header .container {
  position: relative; }

.header .container:after {
  content: '';
  display: table;
  clear: both; }

.header .btn-nav {
  display: none; }

.header .logo {
  float: left; }

.header #cssmenu {
  float: right;
  padding-top: 10px; }

.header #cssmenu ul li {
  display: inline-block;
  padding: 0 14px; }

.header #cssmenu ul li a {
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer; }

.header #cssmenu ul li a:hover {
  color: #a9d42d; }

.header #cssmenu ul li.comprar {
  padding-right: 0; }

.header #cssmenu ul li.comprar a {
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  background: #ff7d31;
  color: #fff;
  padding: 9px 30px; }

.header #cssmenu ul li.comprar a:hover {
  background: #a9d42d; }

.header .llamanos-wpml {
  position: absolute;
  top: -33px;
  right: 15px; }

.header .llamanos-wpml .llamanos {
  padding-right: 0;
  display: inline-block; }

.header .llamanos-wpml .llamanos a {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  color: #a9d42d;
  text-transform: uppercase; }

.header .llamanos-wpml .llamanos a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/h-tel.png) no-repeat center;
  margin-right: 12px;
  top: 2px; }

.header .llamanos-wpml .moneda {
  display: inline-block;
  margin-left: 25px;
  position: relative;
  top: -1px; }

.header .llamanos-wpml .moneda a {
  font-weight: 600;
  font-size: 10px;
  font-size: 0.625rem;
  color: #0d0d0d;
  background: #e5e5e5;
  border-radius: 2px;
  padding: 4.5px 10px 4.5px 10px; }

.header .llamanos-wpml .moneda a:hover {
  background: #b2b2b2; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions {
  display: inline-block;
  margin-left: 20px;
  padding: 0; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul {
  width: auto; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul li {
  background: #e5e5e5;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul li:hover {
  background: #b2b2b2; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul li a {
  padding: 3px 10px 4px 10px; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul li img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #b2b2b2;
  -o-object-fit: cover;
     object-fit: cover; }

.header .llamanos-wpml .wpml-ls-statics-shortcode_actions ul li span {
  font-weight: 600;
  font-size: 10px;
  font-size: 0.625rem;
  color: #0d0d0d;
  position: relative;
  top: -1px; }

/* footer */
#pie {
  background: #000;
  padding: 35px 0; }

#pie:after {
  content: '';
  display: table;
  clear: both; }

#pie .f-legal {
  text-align: center;
  padding-top: 18px; }

#pie .f-legal ul li {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #fff;
  display: inline-block; }

#pie .f-legal ul li a {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #fff; }

#pie .f-legal ul li a:hover {
  color: #a9d42d; }

#pie .f-mail {
  text-align: right;
  padding-bottom: 10px; }

#pie .f-mail a {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #fff; }

#pie .f-mail a:before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 14px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/f-mail.png) no-repeat center;
  margin-right: 10px;
  top: 1px; }

#pie .f-mail a:hover {
  color: #a9d42d; }

#pie .f-tel {
  text-align: right; }

#pie .f-tel a {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #fff; }

#pie .f-tel a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/f-tel.png) no-repeat center;
  margin-right: 10px;
  top: 2px; }

#pie .f-tel a:hover {
  color: #a9d42d; }

/* home */
.mod-principal {
  position: relative; }

.mod-principal .img img {
  width: 100%;
  min-height: 630px;
  -o-object-fit: cover;
     object-fit: cover; }

.mod-principal .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 65px; }

.mod-principal .text h1 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  max-width: 600px;
  line-height: 55px;
  padding-bottom: 25px; }

.mod-principal .text ul li {
  font-weight: 700;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #808080;
  font-style: italic;
  padding: 5px 0; }

.mod-principal .text ul li:before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 25px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/icon-list.png) no-repeat center;
  margin-right: 10px;
  top: 5px; }

.mod-principal .text ul li i {
  font-weight: 300;
  font-style: italic; }

.mod-principal .text .mas {
  margin-top: 35px; }

.mod-principal .text .mas a {
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  background: #ff7d31;
  color: #fff;
  padding: 11px 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer; }

.mod-principal .text .mas a:hover {
  background: #a9d42d; }

.mod-satisfechos {
  padding-bottom: 90px; }

.mod-satisfechos .container {
  text-align: center; }

.mod-satisfechos .container h2 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  padding-bottom: 20px; }

.mod-satisfechos .container h3 {
  font-weight: 400;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  max-width: 714px;
  display: inline-block;
  padding-bottom: 15px; }

.mod-satisfechos .container p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  max-width: 830px;
  display: inline-block; }

.mod-funciona {
  background: url(../images/bg-funciona.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 155px 0; }

.mod-funciona .container h2,
.mod-funciona .container p {
  max-width: 800px; }

.mod-funciona .container h2 {
  font-weight: 400;
  font-size: 48px;
  font-size: 3rem;
  color: #595959;
  line-height: 57px;
  padding-bottom: 35px; }

.mod-funciona .container h2 strong {
  display: block;
  font-weight: 700; }

.mod-funciona .container p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 15px; }

.mod-listado {
  padding-top: 70px; }

.mod-listado .text-left {
  text-align: left; }

.mod-listado .text-right {
  text-align: right; }

.mod-listado article {
  padding-bottom: 80px; }

.mod-listado article .img {
  max-width: 95px;
  display: inline-block;
  vertical-align: top; }

.mod-listado article .text {
  max-width: 225px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  padding-top: 5px;
  text-align: left; }

.mod-formula {
  background: url(../images/shadow-formula.jpg), url(../images/bg-funciona.png), url(../images/bg-funciona-up.jpg);
  background-position: top center, bottom center, right 15%;
  background-repeat: no-repeat;
  background-size: 100%, 100%, auto;
  padding: 52px 0 260px 0; }

.mod-formula h2 {
  font-weight: 300;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  text-align: center;
  padding-bottom: 35px;
  line-height: 55px; }

.mod-formula h2 strong {
  display: block;
  font-weight: 700; }

.mod-formula .desc {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 125px;
  text-align: center;
  max-width: 880px;
  margin: 0 auto; }

.mod-formula .listado-funciona .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mod-formula .listado-funciona .container article {
  padding-bottom: 130px;
  padding-right: 75px; }

.mod-formula .listado-funciona .container article:nth-child(2n) {
  padding-right: 0;
  padding-left: 75px; }

.mod-formula .listado-funciona .container article h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  font-style: italic;
  padding-bottom: 20px;
  position: relative; }

.mod-formula .listado-funciona .container article h3:before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/icon-formula.png) no-repeat center;
  position: absolute;
  top: -44px;
  left: -50px; }

.mod-formula .listado-funciona .container article p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080; }

.mod-seguros {
  background: #30b030;
  font-size: 0;
  padding: 70px 0 75px 0; }

.mod-seguros .text {
  width: calc(100% - 385px);
  display: inline-block;
  vertical-align: top;
  padding-right: 35px; }

.mod-seguros .text h4 {
  font-weight: 300;
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 30px; }

.mod-seguros .text p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  max-width: 660px; }

.mod-seguros .img {
  width: 385px;
  display: inline-block;
  vertical-align: top; }

.mod-productos {
  padding: 90px 0 130px 0; }

.mod-productos h2 {
  font-weight: 300;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  text-align: center;
  padding-bottom: 35px;
  line-height: 55px; }

.mod-productos h2 strong {
  display: block;
  font-weight: 700; }

.mod-productos .desc {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 85px;
  text-align: center;
  max-width: 790px;
  margin: 0 auto; }

.mod-productos .listado-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mod-productos .listado-productos article {
  padding-bottom: 30px;
  text-align: center; }

.mod-productos .listado-productos article.popular .cont-producto {
  padding-bottom: 25px;
  border: 3px solid #ca9e6c;
  position: relative; }

.mod-productos .listado-productos article.popular .cont-producto:before {
  content: '';
  display: inline-block;
  width: 135px;
  height: 135px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/mas-popular.png) no-repeat center #fff;
  border-radius: 50%;
  position: absolute;
  top: -67.5px;
  left: 18px; }

.mod-productos .listado-productos article .img {
  padding-bottom: 25px; }

.mod-productos .listado-productos article .img img {
  width: 100%; }

.mod-productos .listado-productos article .caja {
  font-weight: 400;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 42px;
  color: #a9d42d;
  padding-bottom: 5px; }

.mod-productos .listado-productos article .capsulas {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  color: #808080;
  padding-bottom: 14px;
  text-transform: uppercase; }

.mod-productos .listado-productos article .venta {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  color: #808080;
  padding-bottom: 9px; }

.mod-productos .listado-productos article .venta span {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  color: #a9d42d; }

.mod-productos .listado-productos article .precio-final {
  font-weight: 700;
  font-size: 45px;
  font-size: 2.8125rem;
  line-height: 45px;
  color: #a9d42d;
  padding-bottom: 11px; }

.mod-productos .listado-productos article .ahorra {
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  color: #808080;
  padding-bottom: 28px; }

.mod-productos .listado-productos article .comprar {
  padding-bottom: 12px; }

.mod-productos .listado-productos article .comprar button {
  border: none;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  background: #ff7d31;
  color: #fff;
  padding: 11px 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-size: 1rem;
  padding: 11px 20px; }

.mod-productos .listado-productos article .comprar button:hover {
  background: #a9d42d; }

.mod-productos .listado-productos article .envio {
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  color: #808080; }

.mod-experiencia {
  padding-bottom: 60px; }

.mod-experiencia h2 {
  font-weight: 300;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  text-align: center;
  padding-bottom: 35px;
  line-height: 55px; }

.mod-experiencia h2 strong {
  display: block;
  font-weight: 700; }

.mod-experiencia .desc {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 95px;
  text-align: center;
  max-width: 860px;
  margin: 0 auto; }

.mod-experiencia .listado-experiencia article {
  padding-bottom: 60px;
  padding-left: 118px; }

.mod-experiencia .listado-experiencia article:nth-child(2n) {
  text-align: right; }

.mod-experiencia .listado-experiencia article:nth-child(2n) h4,
.mod-experiencia .listado-experiencia article:nth-child(2n) p {
  display: inline-block;
  text-align: left; }

.mod-experiencia .listado-experiencia article h4,
.mod-experiencia .listado-experiencia article p {
  max-width: 350px;
  width: 100%;
  position: relative;
  z-index: 99; }

.mod-experiencia .listado-experiencia article h4 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  font-style: italic;
  padding-bottom: 20px;
  position: relative; }

.mod-experiencia .listado-experiencia article h4:before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 62px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/icon-comentario.png) no-repeat center;
  position: absolute;
  top: -21px;
  left: -52px;
  z-index: -1; }

.mod-experiencia .listado-experiencia article p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080; }

.mod-referencias {
  background: url(../images/bg-referencias.jpg) no-repeat center;
  background-size: cover;
  padding: 115px 0;
  text-align: right; }

.mod-referencias .text {
  max-width: 614px;
  width: 100%;
  display: inline-block;
  text-align: left; }

.mod-referencias .text h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  padding-bottom: 20px; }

.mod-referencias .text p {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 15px; }

.mod-preguntas {
  padding: 145px 0 130px 0; }

.mod-preguntas h2 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  color: #a9d42d;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 90px; }

.mod-preguntas .listado-preguntas .item-pregunta {
  padding-bottom: 15px; }

.mod-preguntas .listado-preguntas .item-pregunta h4 {
  font-weight: 700;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 21px;
  color: #808080;
  background: #f2f2f2;
  padding: 20px 30px;
  position: relative;
  cursor: pointer; }

.mod-preguntas .listado-preguntas .item-pregunta h4:after {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: 0;
  background: url(../images/desplegar-preguntas.png) no-repeat center;
  position: absolute;
  top: 8px;
  right: 17px; }

.mod-preguntas .listado-preguntas .item-pregunta .info {
  display: none;
  background: #f2f2f2;
  padding: 8px 130px 10px 30px; }

.mod-preguntas .listado-preguntas .item-pregunta .info p {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #808080;
  padding-bottom: 15px; }

.mod-carrito {
  padding: 115px 0 155px 0; }

.mod-carrito .datos-envio {
  padding-bottom: 25px; }

.mod-carrito .datos-envio:after {
  content: '';
  display: table;
  clear: both; }

.mod-carrito .datos-envio h2 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  padding-bottom: 18px;
  text-transform: uppercase; }

.mod-carrito .datos-envio p {
  padding-bottom: 20px; }

.mod-carrito .datos-envio p input[type="text"],
.mod-carrito .datos-envio p input[type="tel"],
.mod-carrito .datos-envio p input[type="email"],
.mod-carrito .datos-envio p textarea {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #808080;
  border: 1px solid #b2b2b2;
  margin: 0;
  padding: 8px 10px; }

.mod-carrito .datos-envio p textarea {
  min-height: 90px; }

.mod-carrito .datos-envio p label {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #808080;
  padding-bottom: 6px; }

.mod-carrito .datos-envio p label i {
  color: #c9002c; }

.mod-carrito .datos-envio .crear-cuenta label {
  cursor: pointer; }

.mod-carrito .modo-envio {
  padding-left: 15px; }

.mod-carrito .modo-envio:after {
  content: '';
  display: table;
  clear: both; }

.mod-carrito .modo-envio h2 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  padding-bottom: 18px;
  text-transform: uppercase; }

.mod-carrito .modo-envio .correos-mrw {
  padding-bottom: 20px;
  border-bottom: 1px solid #b2b2b2; }

.mod-carrito .modo-envio .correos-mrw label {
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.mod-carrito .modo-envio .correos-mrw label input[type="radio"] {
  margin-right: 12px; }

.mod-carrito .modo-envio .correos-mrw .correos-label input[type="radio"] {
  position: relative;
  top: -10px; }

.mod-carrito .modo-envio .domicilio-oficina {
  padding-top: 30px; }

.mod-carrito .modo-envio .domicilio-oficina label {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #808080;
  margin-right: 40px;
  cursor: pointer; }

.mod-carrito .cont-pedido {
  background: #f2f2f2;
  padding: 45px 30px 55px 30px; }

.mod-carrito .cont-pedido h2 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #a9d42d;
  padding-bottom: 35px;
  text-transform: uppercase; }

.mod-carrito .cont-pedido .resumen-pedido {
  border: 1px solid #b2b2b2;
  background: #fff;
  padding: 22px 22px 15px 30px;
  margin-bottom: 20px; }

.mod-carrito .cont-pedido .resumen-pedido:after {
  content: '';
  display: table;
  clear: both; }

.mod-carrito .cont-pedido .resumen-pedido article:after {
  content: '';
  display: table;
  clear: both; }

.mod-carrito .cont-pedido .resumen-pedido article p {
  padding: 0; }

.mod-carrito .cont-pedido .resumen-pedido article .col1 {
  text-align: left; }

.mod-carrito .cont-pedido .resumen-pedido article .col2 {
  text-align: right; }

.mod-carrito .cont-pedido .resumen-pedido .cab-resumen {
  padding-bottom: 12px;
  border-bottom: 1px solid #b2b2b2; }

.mod-carrito .cont-pedido .resumen-pedido .cab-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .cab-resumen .col2 {
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  color: #0d0d0d;
  text-transform: uppercase; }

.mod-carrito .cont-pedido .resumen-pedido .prod-resumen {
  padding: 22px 0 26px 0;
  border-bottom: 1px solid rgba(178, 178, 178, 0.2); }

.mod-carrito .cont-pedido .resumen-pedido .prod-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .prod-resumen .col2 {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  color: #737373; }

.mod-carrito .cont-pedido .resumen-pedido .desc-resumen,
.mod-carrito .cont-pedido .resumen-pedido .sub-resumen,
.mod-carrito .cont-pedido .resumen-pedido .envio-resumen {
  padding: 9px 0 12px 0;
  border-bottom: 1px solid rgba(178, 178, 178, 0.2); }

.mod-carrito .cont-pedido .resumen-pedido .desc-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .sub-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .envio-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .desc-resumen .col2,
.mod-carrito .cont-pedido .resumen-pedido .sub-resumen .col2,
.mod-carrito .cont-pedido .resumen-pedido .envio-resumen .col2 {
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  color: #0d0d0d; }

.mod-carrito .cont-pedido .resumen-pedido .envio-resumen {
  border: none;
  padding-bottom: 60px; }

.mod-carrito .cont-pedido .resumen-pedido .total-resumen {
  border-top: 1px solid #b2b2b2;
  padding-top: 12px; }

.mod-carrito .cont-pedido .resumen-pedido .total-resumen .col1,
.mod-carrito .cont-pedido .resumen-pedido .total-resumen .col2 {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem; }

.mod-carrito .cont-pedido .resumen-pedido .total-resumen .col1 {
  color: #0d0d0d; }

.mod-carrito .cont-pedido .resumen-pedido .total-resumen .col2 {
  color: #a9d42d; }

.mod-carrito .cont-pedido .forma-pago {
  border: 1px solid #b2b2b2;
  background: #fff !important;
  padding: 26px 22px 45px 30px; }

.mod-carrito .cont-pedido .forma-pago:after {
  content: '';
  display: table;
  clear: both; }

.mod-carrito .cont-pedido .forma-pago h3 {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  color: #0d0d0d;
  padding-bottom: 18px; }

.mod-carrito .cont-pedido .forma-pago label {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #808080;
  padding-bottom: 15px;
  display: block;
  cursor: pointer; }

.mod-carrito .cont-pedido .forma-pago label img {
  position: relative;
  top: 6px; }

.mod-carrito .cont-pedido .forma-pago label a {
  color: #c9002c; }

.mod-carrito .cont-pedido .forma-pago label a:hover {
  color: #a9d42d; }

.mod-carrito .cont-pedido .forma-pago .reembolso {
  padding-bottom: 0;
  width: 100%;
  padding-bottom: 10px; }

.mod-carrito .cont-pedido .forma-pago .politica {
  border-top: 1px solid #b2b2b2;
  margin-top: 10px;
  padding: 16px 0 0 0; }

.mod-carrito .cont-pedido .pedir {
  padding-top: 45px;
  margin-bottom: 30px; }

.mod-carrito .cont-pedido .pedir .boton {
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  background: #ff7d31;
  color: #fff;
  padding: 11px 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-size: 1.125rem;
  width: 100%;
  border: none;
  text-transform: inherit; }

.mod-carrito .cont-pedido .pedir .boton:hover {
  background: #a9d42d; }

.mod-carrito .caract-pedido {
  padding-top: 30px; }

.mod-carrito .caract-pedido article {
  text-align: center; }

.mod-carrito .caract-pedido article p {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #808080;
  padding-top: 8px; }

.select2-container--default .select2-selection--single {
  border: 1px solid #b2b2b2 !important;
  border-radius: 0px !important;
  height: 37px !important;
  padding: 4px 2px !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  color: #818181 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px !important; }

.woocommerce form .form-row textarea {
  min-height: 90px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  color: #808080 !important;
  border: 1px solid #b2b2b2 !important;
  margin: 0 !important;
  padding: 8px 10px !important; }

p#order_comments_field label {
  font-weight: 400 !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  color: #808080 !important;
  padding-bottom: 6px !important; }

.boton-borrar {
  color: #a9d42d;
  background: none;
  border: none;
  margin-right: 12px; }

.woocommerce-shipping-fields {
  display: none; }

@media screen and (min-width: 1400px) {
  .cont-1360 {
    width: 1360px; } }

@media screen and (min-width: 1250px) {
  .cont-1200 {
    width: 1200px; } }

@media screen and (min-width: 991px) {
  .cont-960 {
    width: 960px; } }

@media screen and (min-width: 1080px) {
  .cont-1020 {
    width: 1020px; } }

/* commons */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

html body {
  float: left;
  width: 100%; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*:before,
*:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

p {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sans-serif {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.serif {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #555559; }

img {
  max-width: 100%;
  height: auto; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.total {
  float: left;
  width: 100%; }

ul,
li {
  list-style-type: none;
  padding-left: 0; }

.right,
.alignright {
  float: right !important; }

.left,
.alignleft {
  float: left !important; }

.p0 {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

img {
  max-width: 100%; }

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
  float: left;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-bottom: 10px; }

form textarea {
  max-height: 100px; }

form label {
  font-size: 11px;
  font-size: 0.6875rem;
  text-align: left;
  color: #666666;
  float: left !important; }

form label .checkbox {
  float: left !important;
  margin-top: 0; }

form input[type="submit"] {
  float: right !important; }

form div.wpcf7-validation-errors {
  float: left;
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 2px solid red;
  padding-top: 20px;
  color: #999; }

form div.wpcf7-mail-sent-ok {
  float: left;
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 2px solid green;
  padding-top: 20px;
  color: #999; }

form span.wpcf7-not-valid-tip {
  display: none; }

form .wpcf7-not-valid {
  background: rgba(255, 0, 0, 0.4); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555559; }

p {
  color: #666666;
  font-family: 'Open Sans', sans-serif; }

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important; }

.gallery {
  float: left;
  width: 100%;
  margin-bottom: 30px !important;
  margin-left: -10px !important;
  margin-right: -10px !important; }

.gallery .gallery-item {
  padding: 0 10px; }

/* Galería */
.gallery-columns-1 dl {
  display: block;
  width: 100%; }

.gallery-columns-2 dl {
  display: block;
  float: left;
  width: 50%; }

.gallery-columns-3 dl {
  display: block;
  float: left;
  width: 33.3%; }

.gallery-columns-4 dl {
  display: block;
  float: left;
  width: 25%; }

.gallery-columns-5 dl {
  display: block;
  float: left;
  width: 20%; }

.gallery-columns-6 dl {
  display: block;
  float: left;
  width: 16.6%; }

.gallery-columns-7 dl {
  display: block;
  float: left;
  width: 14.28%; }

.gallery-columns-8 dl {
  display: block;
  float: left;
  width: 12.5%; }

.gallery-columns-9 dl {
  display: block;
  float: left;
  width: 11.11%; }

.pagination {
  width: 100%;
  float: left;
  margin-top: 25px;
  text-align: center; }

.pagination ul li {
  display: inline-block;
  float: none; }

.pagination ul li .page-numbers {
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 2px;
  background: #ddd;
  padding: 4px 10px; }

.pagination ul li .page-numbers:hover {
  background: black;
  color: white; }

.pagination ul li .page-numbers.current {
  background: black;
  color: white; }

.mod-comments {
  margin-bottom: 50px; }

.mod-comments #comments {
  float: left;
  width: 100%;
  color: #ddd;
  margin-bottom: 15px; }

.mod-comments .commentlist .comment {
  float: left;
  width: 100%;
  padding: 20px; }

.mod-comments .commentlist .comment:nth-child(even) {
  background: #eff3f6; }

.mod-comments .commentlist .children {
  float: left;
  width: 100%;
  padding: 20px; }

.mod-comments .commentlist .children .comment:nth-child(odd) {
  background: #eff3f6; }

.mod-comments .cf {
  float: left;
  width: 100%; }

.mod-comments .cf .vcard > img {
  float: left !important;
  margin-right: 10px; }

.mod-comments .cf .fn {
  color: #666666;
  font-size: 16px;
  font-size: 1rem;
  font-style: normal; }

.mod-comments .cf time {
  font-size: 12px;
  font-size: 0.75rem; }

.mod-comments .cf time:before {
  content: "| "; }

.mod-comments .comment_content {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #8c8c8c; }

.mod-comments .comment_content p {
  font-size: 13px;
  font-size: 0.8125rem;
  float: left !important;
  color: #8c8c8c;
  margin-bottom: 10px; }

.mod-comments .alert {
  float: left;
  width: 100%; }

.mod-comments .alert > p {
  font-size: 13px;
  font-size: 0.8125rem;
  background: rgba(221, 221, 221, 0.1);
  border: 1px solid #ddd;
  margin-bottom: 0;
  margin: 5px 0;
  padding: 10px; }

.mod-comments .comment-reply-link {
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(221, 221, 221, 0.5);
  clear: both;
  color: white;
  display: table;
  margin: 0;
  padding: 5px 15px; }

.mod-comments .comment-reply-link:hover {
  background: rgba(221, 221, 221, 0.8); }

.mod-comments .comment-edit-link {
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 5px;
  background: #555559;
  color: white;
  margin: 10px 10px 0 0;
  padding: 5px; }

/* responsive */
/* mediaqueries max-1200 */
@media screen and (max-width: 1199px) {
  .header .container {
    padding: 0 30px;
    width: 100%; }
  .header .logo img {
    max-height: 45px; } }

/* mediaqueries max-991 */
@media screen and (max-width: 991px) {
  .header {
    padding: 25px 0 20px 0; }
  .header .container {
    position: inherit; }
  .header .llamanos-wpml {
    top: 10px; }
  .header .logo {
    float: none; }
  .header #cssmenu {
    display: none;
    float: none;
    width: 100%;
    padding-top: 25px; }
  .header #cssmenu ul {
    display: block; }
  .header #cssmenu ul li {
    display: block;
    width: 100%;
    text-align: center; }
  .header #cssmenu ul li a {
    display: block;
    width: 100%;
    padding: 15px; }
  .header #cssmenu ul li.comprar {
    padding: 15px 0; }
  .header #cssmenu ul li.comprar a {
    display: inline-block;
    width: auto; }
  .header .btn-nav {
    display: block;
    position: absolute;
    top: 52px;
    right: 15px; }
  .header .btn-nav span {
    width: 35px;
    height: 4px;
    margin-bottom: 4px;
    background: #a9d42d;
    display: block; }
  .header .btn-nav span:last-child {
    margin-bottom: 0; } }

/* mediaqueries max-768 */
@media screen and (max-width: 767px) {
  .header .container {
    padding: 0 15px; } }

@media screen and (max-width: 650px) {
  .header .llamanos-wpml .llamanos a {
    font-size: 0;
    top: 2px;
    position: relative; }
  .header .llamanos-wpml .moneda {
    margin-left: 4px; }
  .header .logo img {
    max-height: 35px; }
  .header .llamanos-wpml .moneda {
    display: none; }
  .header .llamanos-wpml .wpml-ls-statics-shortcode_actions {
    margin-left: 0; }
  .header .btn-nav {
    top: 49px; } }

/* mediaqueries max-480 */
/* mediaqueries max-320 */
/* 
//  mobile first
//
//

@import "mediaqueries/max-320.less";

@import "mediaqueries/max-480.less";

@import "mediaqueries/max-768.less";

@import "mediaqueries/max-991.less";

@import "mediaqueries/max-1200.less";

*/
