/* commons-theme */


// ELIMINA EL BORDE AZUL QUE APARECE EN GOGOLE CHROME
:focus {outline:0;}

input[type="radio"] {
	.appearance;
	outline: 0 !important;
	&:before {
		.before(19,19);
		.relative;
		.transition;
		background: url('../images/icon-radio.png') no-repeat center;
		content: '';
		display: inline-block;
		margin-right: 6px;
		top: 2px;
	}
	&:checked:before {
		background: url('../images/icon-radio-checked.png') no-repeat center;
	}
}

input[type="checkbox"] {
	.appearance;
	outline: 0 !important;
	&.grey {
		&:before {
			background: url('../images/icon-checkbox-grey.png') no-repeat center;
			top: 2px;
		}
		&:checked:before {
			background: url('../images/icon-checked-grey.png') no-repeat center;
		}
	}
	&:before {
		.before(16,16);
		.relative;
		.transition;
		background: url('../images/icon-checkbox.png') no-repeat center;
		content: '';
		display: inline-block;
		margin-right: 6px;
		top: 3px;
		width: 16px;
		height: 16px;
	}
	&:checked:before {
		background: url('../images/icon-checked.png') no-repeat center;
	}
}

.container {
	.height-float;
}

main{
	margin-top: 127px;
}

// Colores

@pink : #d30075;
@purple : #3e3e5a;
@purple-24 : #24244c;
@green : #adc451;

@grey-66 : #666666;
@grey-f2 : #f2f2f2;
@grey-e5 : #e5e5e5;

// tipografías

.palanquin {
	font-family: 'Palanquin Dark', sans-serif;
}

.hind {
	font-family: 'Hind', sans-serif;
}

.extralight {
	font-weight: 200;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.semi {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.extra{
	font-weight: 800;
}

.italic {
	font-style: italic;
}

.title-destacado{
	font-weight: 600;
	font-size: 35px;
	text-align: center;
	color: #2a5d73;
	span{
		display: block;
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #988e7d;
		margin-bottom: 5px;
	}
}

// botones

.btn-verde {
	.palanquin;
	.semi;
	.font-size(14);
	line-height: 1;
	background: @green;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 12px;
	letter-spacing: 1px;
	cursor: pointer;
	&:hover {
		background: @purple;
	}
}

.btn-yellow{
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: #3f3f3f;
	padding: 10px 25px;
	background-color: #EAC033;
	border-radius: 5px;
	text-align: center;
	&:hover{
		background-color: #D6D2CB;
	}
}


.one-column {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
    -moz-column-gap: 0; /* Firefox */
    column-gap: 0;
}

.two-columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

/* 404 */

.breadcrumbs{
	li{
		display: inline-block;
		font-weight: 600;
		font-size: 12px;
		line-height: 21px;
		text-align: center;
		color: #3f3f3f;
		a{
			font-weight: 600;
			font-size: 12px;
			line-height: 21px;
			text-align: center;
			color: #CBC6BD;
			img{
				vertical-align: middle;
				margin-right: 7px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
