.o-contacto-head{
	padding-top: 15px;
	border-radius: 5px;
	&__box{
		padding-top: 90px;
		padding-bottom: 110px;
		background-image: url('../images/contacto-head.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;
	}
	&__subtitle{
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #fff;
	}
	&__title{
		.extra;
		font-size: 55px;
		line-height: 65px;
		text-align: center;
		color: #fff;
	}
}

.o-contacto{
	padding-bottom: 60px;
	&__box{
		margin-top: -65px;
	    position: relative;
	    z-index: 2;
		padding: 60px 240px;
		background-color: #F4F4F4;
		border-radius: 5px;
		background-image: url('../images/contacto-back.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		&__top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 770px;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 50px;
			button{
				background-color: transparent;
				font-family: Montserrat;
				font-weight: 600;
				font-size: 22px;
				letter-spacing: 0.2em;
				color: #cbc6bd;
				border: 0;
				transition: all .5s ease;
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background-color: #83796A;
					margin-top: 5px;
					opacity: 0;
					transition: all .5s ease;
				}
				&:hover{
					color: #83796A;
					transition: all .5s ease;
					&:after{
						opacity: 1;
						transition: all .5s ease;
					}
				}
			}
			button.active{
				color: #83796A;
				transition: all .5s ease;
				&:after{
					opacity: 1;
					transition: all .5s ease;
				}
			}
		}

		form{
			margin-bottom: 50px;
			label{
				font-family: Montserrat;
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.2em;
				text-align: left;
				color: #3f3f3f;
				display: block;
			}
			.acceptance-politicas{
				font-weight: normal;
				font-size: 14px;
				text-align: left;
				color: #988e7d;
				float: left;
				a{
					color: #988e7d;
					text-decoration: underline;
				}
			}
			.grid-form-3{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 10px;
			}
			.form-flex{
				clear: both;
			}
			input[type="text"], input[type="email"], input[type="tel"], textarea{
				border-radius: 5px;
				background: transparent;
				border: 1px solid #c1bbb0;
				margin-top: 5px;
			}
			input[type="submit"]{
				font-family: Montserrat;
				font-weight: 600;
				font-size: 14px;
				text-align: center;
				color: #3f3f3f;
				float: right;
				background-color: #EAC033;
				padding: 10px 50px;
				border-radius: 5px;
				border: 0;
				text-transform: uppercase;
				transition: all .5s ease;
				&:hover{
					background-color: #D6D2CB;
					transition: all .5s ease;
				}
			}
		}
		.o-contacto-faqs{
			.accordion {
				font-family: Rubik;
				font-weight: 500;
				font-size: 17px;
				letter-spacing: 0.02em;
				line-height: 21px;
				text-align: left;
				color: #01001b;
				cursor: pointer;
				padding: 15px 30px;
				padding-right: 55px;
				width: 100%;
				text-align: left;
				border: none;
				outline: none;
				background-color: #e0ddd7;
				position: relative;
				box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
				transition: 0.4s;
				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translate(0,-50%);
					width: 23px;
					height: 23px;
					background-image: url('../images/ico-faqs.svg');
					background-size: contain;
					background-repeat: no-repeat;
				}
			}

			.active, .accordion:hover {
			  background-color: #ccc;
			}

			.panel {
			  margin-bottom: 20px;
			  padding: 0px 18px;
			  background-color: white;
			  max-height: 0;
			  overflow: hidden;
			  transition: max-height 0.2s ease-out;
			  p{
			  	padding: 10px 0;
				font-family: Montserrat;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				text-align: left;
				color: #3f3f3f;
			  }
			}
		}
	}
}