/* COOKIES */

#barracookies{
    position: fixed;
    bottom: 0px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    color: rgba(0,0,0,0.5);
    padding: 17px;
    z-index: 999999999;
    width: 100%;
    p{
	    font-size: 14px;
		color: rgba(0,0,0,0.8);
		width: 100%;
		line-height: 22px;
		    display: flex;
    align-items: center;
    justify-content: center;
    }
	.btn.btn-black{
    	margin-left: 15px;
        padding: 11px 15px;
        
	}
	.link-page{
		text-decoration: underline!important;
		color: rgba(0,0,0,0.8);
		font-weight: 900;
		margin-left: 10px;
	}
}

