/* footer */

footer {
	background-color: #D6D2CB;
	padding: 40px 0;

	.o-footer-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		&__categorys{
			max-width: 860px;
			width: 100%;
			h3{
				font-weight: 600;
				font-size: 14px;
				text-align: left;
				color: #3f3f3f;
				margin-bottom: 10px;
			}
			ul{
				li{
					display: inline-block;
					margin-right: 25px;
					margin-bottom: 8px;
					a{
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						color: #3f3f3f;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				li:last-child{
					margin-right: 0;
				}
			}
		}
		&__info{
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			.info-top{
				margin-bottom: 8px;
				a{
					font-weight: 500;
					font-size: 14px;
					color: #3f3f3f;
					svg{
						margin-right: 9px;
						vertical-align: middle;
					}
					&:hover{
						text-decoration: underline;
					}
				}
				a:first-child{
					margin-right: 20px;
				}
			}
			.info-pay{
				display: flex;
				align-items: center;
				span{
					font-weight: 500;
					font-size: 14px;
					text-align: left;
					color: #3f3f3f;
				}
			}
		}
	}
	.sombra{
		svg{
			width: 100%;
		}
	}
	.o-footer-bottom{
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.politicas{
			li{
				display: inline-block;
				a{
					font-weight: normal;
					font-size: 12px;
					text-align: left;
					color: #3f3f3f;
					&:hover{
						text-decoration: underline;
					}
				}
				span{
					font-weight: normal;
					font-size: 12px;
					text-align: left;
					color: #3f3f3f;
				}
			}
		}
	}
}