/* header */

.pre-menu-mobile {
	display: none;
}

.c-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background-color: #fff;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
	.header-top{
		background-color: #D6D2CB;
		padding: 10px 0;
		> .container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		span{
			font-weight: normal;
			font-size: 14px;
			text-align: left;
			color: #3f3f3f;
			svg{
				vertical-align: middle;
			}
		}
		a{
			font-weight: 500;
			font-size: 14px;
			color: #3f3f3f;
			margin-right: 20px;
			svg{
				margin-right: 10px;
				vertical-align: middle;
			}
			&:hover{
				text-decoration: underline;
			}
		}
		a:last-child{
			margin-right: 0;
		}
	}
	#menu{
		padding: 15px 0;
		> .container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.cart-header{
			position: relative;
			span{
				position: absolute;
				border-radius: 50%;
				background-color: #988E7D;
				width: 20px;
				height: 20px;
				top: -10px;
				right: -10px;
				color: #fff;
				display: flex;
				text-align: center;
				font-size: 10px;
				justify-content: center;
				flex-direction: column;
			}
		}
		#nav-menu{
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1060px;
			width: 100%;
			ul{
				li{
					display: inline-block;
					margin-right: 45px;
					position: relative;
					a{
						font-weight: 500;
						font-size: 15px;
						letter-spacing: 0.03em;
						color: #3f3f3f;
						&:hover{
							color: #2A5D73;
						}
					}
					.submenu{
						display: none;
						background-color: #EAC033;
						border-radius: 5px;
						padding: 35px 70px;
						width: 580px;
						position: absolute;
						left: -90px;
						top: 50px;
						li{
							display: table;
							margin-bottom: 5px;
							margin-right: 0;
							max-width: 185px;
							a{
								font-weight: 600;
								font-size: 14px;
								letter-spacing: 0.05em;
								color: #3f3f3f;
								&:before{
									content: '';
									display: inline-block;
									background-image: url('../images/ico-submenu.svg');
									background-size: contain;
									background-repeat: no-repeat;
									width: 0px;
									height: 10px;
									transition: all .5s ease;
								}
								&:hover{
									&:before{
										display: inline-block;
										width: 10px;
										transition: all .5s ease;
									}
								}
							}
							a.active{
								&:before{
									display: inline-block;
									width: 10px;
									transition: all .5s ease;
								}
							}
						}
						.sombra{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
						.tornillo{
							position: absolute;
							top: 50%;
							right: 0;
							transform: translate(0,-50%);
						}
						&:before{
							content: '';
							display: block;
							position: absolute;
							background-image: url('../images/ico-triangle.svg');
							background-size: contain;
							background-repeat: no-repeat;
							width: 35px;
							height: 35px;
							top: -15px;
							left: 135px;
						}
						&:after{
							content: '';
							display: block;
							width: 100%;
							height: 40px;
							top: -35px;
							position: absolute;
							left: 0;
							background-color: transparent;
						}
					}
					&:hover{
						.submenu{
							display: block;
						}
					}
				}
				li:last-child{
					margin-right: 0;
				}
			}
			.menu-user{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-left: 25px;
				margin-right: 25px;
				max-width: 75px;
				width: 100%;
				position: relative;

				.submenu{
					position: absolute;
					left: -50px;
					top: 55px;
					padding: 35px 30px;
					background-color: #F4F4F4;
					border-radius: 5px;
					width: 188px;
					display: none;
					li{
						display: table;
						margin-bottom: 5px;
						margin-right: 0;
						a{
							font-family: Montserrat;
							font-weight: 600;
							font-size: 14px;
							letter-spacing: 0.05em;
							color: #3f3f3f;
							&:before{
								content: '';
								display: inline-block;
								background-image: url('../images/ico-submenu.svg');
								background-size: contain;
								background-repeat: no-repeat;
								width: 0px;
								height: 10px;
								transition: all .5s ease;
							}
							&:hover{
								&:before{
									display: inline-block;
									width: 10px;
									transition: all .5s ease;
								}
							}
						}
						a.active{
							&:before{
								display: inline-block;
								width: 10px;
								transition: all .5s ease;
							}
						}
					}
					li:last-child{
						margin-bottom: 0;
					}
					&:before{
						content: '';
						display: block;
						position: absolute;
						background-image: url('../images/ico-submenu-user.svg');
						background-size: contain;
						background-repeat: no-repeat;
						width: 35px;
						height: 35px;
						top: -15px;
						left: 45px;
					}
					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 40px;
						top: -35px;
						position: absolute;
						left: 0;
						background-color: transparent;
					}
				}
				&:hover{
					.submenu{
						display: block;
					}
				}
			}
			.header-search{
				max-width: 330px;
				width: 100%;
				position: relative;
				background-image: url('../images/ico-search.svg');
				background-size: 19px;
				background-repeat: no-repeat;
				background-position: center right 20px;
				background-color: #fff;
				border-radius: 5px;
				input{
					width: 100%;
					font-weight: normal;
					font-size: 14px;
					text-align: left;
					color: #988e7d;
					border: 1px solid #988E7D;
					padding: 10px 20px;
					border-radius: 5px;
					background-color: transparent;
				}
				input::placeholder{
					font-weight: normal;
					font-size: 14px;
					text-align: left;
					color: #988e7d;
				}
			}
		}
	}
}

.ico-user:hover .c-header #menu #nav-menu .menu-user .submenu{
	display: block !important;
}

#page-id-1{
	.c-header #menu #nav-menu ul li a{
		color: #fff;
		transition: all .5s ease;
	}
	.c-header #menu #nav-menu .menu-user{
		svg{
			path{
				fill: #fff;
				transition: all .5s ease;
			}
		}
	}
	.c-header #menu #logo{
		svg{
			path{
				fill: #fff;
				transition: all .5s ease;
			}
		}
		rect {
		    fill: #fff;
		    transition: all .5s ease;
		}
	}
	.c-header #menu #nav-menu .header-search{
		background-color: transparent;
		transition: all .5s ease;
	}
	.c-header #menu #nav-menu .header-search input{
		color: #fff;
		border: 1px solid #fff;
		transition: all .5s ease;
	}
	.c-header #menu #nav-menu .header-search input::placeholder{
		color: #fff;
		transition: all .5s ease;
	}
	.c-header{
		background-color: transparent;
		transition: all .5s ease;
	}
	.c-header .header-top{
		margin-bottom: 25px;
		transition: all .5s ease;
	}
	main{
		margin-top: 70px;
	}
}

#page-id-1{
	header.c-header.menu-fijo #menu #nav-menu ul li a{
		color: #3f3f3f;
		transition: all .5s ease;
	}
	header.c-header.menu-fijo #menu #nav-menu .menu-user{
		svg{
			path{
				fill: #2a5d73;
				transition: all .5s ease;
			}
		}
	}
	header.c-header.menu-fijo #menu #logo{
		g#Grupo_7{
			path{
				fill: #2a5d73;
				transition: all .5s ease;
			}
		}
		g#Grupo_8{
			path{
				fill: #2a5d73;
				transition: all .5s ease;
			}
		}
		g#Grupo_13{
			path{
				fill: #2a5d73;
				transition: all .5s ease;
			}
		}
		g#Grupo_6{
			path{
				fill: #988e7d;
				transition: all .5s ease;
			}
		}
		g#Grupo_5{
			path{
				fill: #2a5d73;
				transition: all .5s ease;
			}
		}
		rect {
		    fill: #2a5d73;
		    transition: all .5s ease;
		}
	}
	header.c-header.menu-fijo #menu #nav-menu .header-search{
		background-color: transparent;
		transition: all .5s ease;
	}
	header.c-header.menu-fijo #menu #nav-menu .header-search input{
		color: #988E7D;
		border: 1px solid #988E7D;
		transition: all .5s ease;
	}
	header.c-header.menu-fijo #menu #nav-menu .header-search input::placeholder{
		color: #988E7D;
		transition: all .5s ease;
	}
	header.c-header.menu-fijo{
		background-color: #fff;
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
		transition: all .5s ease;
	}
	header.c-header.menu-fijo .header-top{
		margin-bottom: 0px;
		transition: all .5s ease;
	}
	main{
		margin-top: 70px;
	}
}

.search-active{
	&:after{
		background: #171515;
	    opacity: 0.8;
	    content: '';
	    display: block;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
}
#search{
	position: fixed;
	top: 127px;
	left: 50%;
	transform: translate(-50%);
	background-color: #F4F4F4;
	max-width: 100%;
	width: 1300px;
	z-index: 9;
	border-radius: 5px;
}
.search-back{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 8;
	background: #171515;
	opacity: 0.8;
}
.search{
	overflow-x: scroll;
    height: calc(100vh - 127px);
	&__filters{
		background-color: #E0DDD7;
		padding: 20px 80px;
		&__container{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.title{
			font-family: Montserrat;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-align: left;
			color: #3f3f3f;
			margin-right: 50px;
		}
		.style-select{
			position: relative;
			background-image: url('../images/ico-select.svg');
			background-position: center right 13px;
			background-repeat: no-repeat;
			background-size: 11px;
			width: 165px;
			select{
				.appearance;
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-align: left;
				color: #83796a;
				width: 100%;
				background-color: transparent;
				padding: 6px 13px;
				border: 1px solid #83796A;
				border-radius: 5px;
			}
		}
		.style-select:nth-child(1){
			width: 135px;
		}
		.filters-selects{
			max-width: 680px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-right: 50px;
		}
		.close-search{
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}
	}

	&__content{
		padding: 30px 80px;
		&__title{
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #3f3f3f;
			display: block;
			margin-bottom: 20px;
		}
		&__list{
			display: grid;
		    grid-template-columns: 1fr 1fr 1fr 1fr;
		    grid-gap: 15px;
		}
	}
}

.pre-menu-mobile{
	> .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-mobile{
		max-width: 60px;
		width: 100%;
		a{
			width: 100%;
			svg{
				width: 100%;
				height: auto;
			}
		}
	}

	.mobile-menu-left{
		display: flex;
		align-items: center;
		a:first-child{
			margin-right: 15px;
		}
	}

	.mobile-menu-right{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 60px;
		width: 100%;
	}
	.btn-menu{
		width: 22px;
		height: 19px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		position: relative;
		z-index: 10;
		span{
			display: block;
			width: 100%;
			height: 5px;
			border: 1px solid #3F3F3F;
			margin-bottom: 2px;
			border-radius: 3px;
			background-color: transparent;
			transition: all .5s ease;
		}
		span:nth-child(2){
			width: 80%;
		}
		span:nth-child(3){
			width: 60%;
		}
	}
	.btn-menu-active{
		span:nth-child(1){
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: all .5s ease;
		}
		span:nth-child(2){
			opacity: 0;
			transition: all .5s ease;
		}
		span:nth-child(3){
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			transition: all .5s ease;
		}
	}
}

.menu-mobile-active{
	transform: translateY(0vh) !important;
	transition: all .5s ease;
}
.irs--flat.irs-with-grid{
	width: 200px;
}

