// Reset

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
td,
button,
input, 
textarea,
select,
label {
	// font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a,
button,
input[type="submit"] {
	display: inline-block;
	text-decoration: none;
	transition: all .5s;
	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
section, 
div, 
article {
	// font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

input, a {
	text-decoration: none;
	outline: 0;
	&:hover,
	&:focus {
		text-decoration: none;
		outline: 0;
	}
}