.o-single-product{
	padding-top: 20px;
	.breadcrumbs{
		margin-bottom: 25px;
	}
	&__grid{
		display: grid;
		grid-template-columns: 520px 1fr;
		grid-gap: 60px;
		padding-bottom: 60px;
		&__slider{
			&__grid{
				display: grid;
				grid-template-columns: 380px 1fr;
				grid-gap: 10px;
				margin-bottom: 10px;

				.slider-productos-left{
					height: 422px;
					width: 100%;
					border: 1px solid #DEDDEC;
					border-radius: 3px;
					img{
						object-position: center;
						object-fit: contain;
					    width: 100%;
					    height: 99%;
					    object-fit: cover;
					    border-radius: 5px;
					}
					.slick-slide{
						display: flex;
						width: 100%;
						height: 422px;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}
				}
				.slider-productos-right{
					height: 390px;
					width: 100%;
					.slick-list {
						margin: -5px 0px;
					}
					.slick-slide{
						border: 1px solid #DEDDEC;
						border-radius: 3px;
						margin: 5px 0px;
						transition: all .5s ease;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						&:hover{
							border: 1px solid #24599A;
							transition: all .5s ease;
						}
					}
				}
			}
			&__valoraciones{
				background-image: url('../images/valoracion-back.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center right;
				padding: 20px 30px;
				border: 1px solid #DEDDEC;
				border-radius: 3px;
				span{
					display: flex;
					align-items: center;
					font-weight: 600;
					font-size: 14px;
					line-height: 21px;
					color: #001733;
					svg{
						margin-left: 10px;
						margin-right: 10px;
					}
					span{
						font-weight: 600;
						font-size: 13px;
						line-height: 26px;
						color: #a3a3ca;
					}
				}
				.btn-orange{
					margin-top: 10px;
					font-size: 14px;
				}
			}
		}
		&__info{
			.flex-top{
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 305px;
				width: 100%;
				margin-bottom: 10px;
				h4{
					font-weight: 500;
					font-size: 12px;
					line-height: 26px;
					text-align: center;
					color: #a3a3a3;
					img{
						vertical-align: middle;
					}
				}
				div#st-1{
					div.st-btn{
						display: inline-block !important;
					}
				}
				#st-1 .st-btn[data-network='facebook']{
					background-color: transparent;
					position: relative;
					img{
						display: none;
					}
					&:before{
						content: '';
						display: block;
						background-image: url('../images/ico-face.svg');
						background-repeat: no-repeat;
						background-size: contain;
						width: 15px;
						height: 15px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				#st-1 .st-btn[data-network='twitter']{
					background-color: transparent;
					position: relative;
					img{
						display: none;
					}
					&:before{
						content: '';
						display: block;
						background-image: url('../images/ico-twitter.svg');
						background-repeat: no-repeat;
						background-size: contain;
						width: 15px;
						height: 15px;
						position: absolute;
						top: 55%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			.title{
				font-weight: 600;
				font-size: 25px;
				letter-spacing: 0.05em;
				line-height: 34px;
				color: #3f3f3f;
				max-width: 350px;
				width: 100%;
				margin-bottom: 5px;
			}
			.price{
				display: flex;
				align-items: center;
				font-weight: 600;
				font-size: 35px;
				color: #59d588;
				margin-bottom: 20px;
				.old-price{
					font-weight: 600;
					font-size: 20px;
					color: #A3A3A3;
					text-decoration:line-through;
					margin-right: 10px;
				}
				.impuestos{
					font-weight: 500;
					font-size: 12px;
					line-height: 26px;
					text-align: center;
					color: #a3a3a3;
					margin-left: 10px;
				}
			}
			.subtitle{
				font-weight: bold;
				font-size: 17px;
				letter-spacing: 0.05em;
				line-height: 28px;
				color: #001733;
				margin-bottom: 15px;
			}
			.desc{
				max-width: 647px;
				width: 100%;
				p{
					font-size: 14px;
					line-height: 20px;
					text-align: left;
					color: #3f3f3f;
					margin-bottom: 15px;
				}
				ul{
					margin-bottom: 15px;
					padding-left: 20px;
					li{
						font-weight: normal;
						font-size: 15px;
						text-align: left;
						color: #001733;
						margin-bottom: 8px;
						list-style: disc;
					}
					li:last-child{
						margin-bottom: 0;
					}
				}
			}
			.list-descuentos{
				margin-bottom: 20px;
				li{
					font-weight: 600;
					font-size: 15px;
					line-height: 22px;
					color: #a3a3ca;
				}
			}

			.total-product{
				display: flex;
				align-items: center;
				span{
					font-weight: 500;
					font-size: 14px;
					line-height: 26px;
					text-align: left;
					color: #3f3f3f;
					margin-right: 20px;
				}
			}
			input[type="number"]{
				max-width: 65px;
				width: 100%;
				border: 1px solid #83796A;
				text-align: center;
				border-radius: 5px;
				padding: 8px 20px;
				margin-right: 20px;
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-align: center;
				color: #83796a;
			}
			.btn-add{
				font-weight: 600;
				font-size: 14px;
				text-align: center;
				color: #3f3f3f;
				padding: 10px 25px;
				background-color: #EAC033;
				border-radius: 5px;
				text-align: center;
				&:hover{
					background-color: #D6D2CB;
				}
			}
		}
	}
	&__tabs{
		margin-bottom: 50px;
		&__buttons{
			display: flex;
			justify-content: space-between;
			align-items: center;
			li{
				display: inline-block;
				button{
					width: 390px;
					border: 0;
					padding: 15px 30px;
					border-radius: 5px;
					background: #f4f4f4;
					font-family: Montserrat;
					font-weight: 500;
					font-size: 17px;
					letter-spacing: 0.05em;
					text-align: left;
					color: #3f3f3f;
					display: flex;
					transition: all .5s ease;
					align-items: center;
					svg{
						margin-right: 15px;
						path{
							transition: all .5s ease;
						}
					}
					&:hover{
						color: #fff;
						background-color: #2A5D73;
						transition: all .5s ease;
						svg{
							path{
								stroke: #fff;
								transition: all .5s ease;
							}
						}
					}
				}
			}
		}
		&__textarea{
			width: 100%;
			padding: 35px 70px;
			background: #f4f4f4;
			border-radius: 0px 0px 5px 5px;

			p{
				font-family: Montserrat;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				text-align: left;
				color: #3f3f3f;
				margin-bottom: 25px;
			}
		}
	}
}