.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  display: table;
  margin: 0 auto;
}
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*&:before,
  &:after {
    display: none;
  }*/
}
.flex-container-just {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-container-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
.height-float {
  /*&:after {
    content: '';
    display: table;
    clear: both;
  }*/
}
/* normalize */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/* menu */
/* Grid system */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* slick */
.slider-home {
  width: 100%;
  overflow-x: hidden;
}
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
td,
button,
input,
textarea,
select,
label {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
button,
input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover,
button:hover,
input[type="submit"]:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
section,
div,
article {
  padding: 0;
  margin: 0;
}
input,
a {
  text-decoration: none;
  outline: 0;
}
input:hover,
a:hover,
input:focus,
a:focus {
  text-decoration: none;
  outline: 0;
}
/* commons-theme */
:focus {
  outline: 0;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  outline: 0 !important;
}
input[type="radio"]:before {
  /*content: '';
  display: inline-block;
  width: @width * 1px;
  height: @height * 1px;
  position: relative;
  transition: all .5s;
  outline: 0;*/
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url('../images/icon-radio.png') no-repeat center;
  content: '';
  display: inline-block;
  margin-right: 6px;
  top: 2px;
}
input[type="radio"]:checked:before {
  background: url('../images/icon-radio-checked.png') no-repeat center;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  outline: 0 !important;
}
input[type="checkbox"].grey:before {
  background: url('../images/icon-checkbox-grey.png') no-repeat center;
  top: 2px;
}
input[type="checkbox"].grey:checked:before {
  background: url('../images/icon-checked-grey.png') no-repeat center;
}
input[type="checkbox"]:before {
  /*content: '';
  display: inline-block;
  width: @width * 1px;
  height: @height * 1px;
  position: relative;
  transition: all .5s;
  outline: 0;*/
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url('../images/icon-checkbox.png') no-repeat center;
  content: '';
  display: inline-block;
  margin-right: 6px;
  top: 3px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"]:checked:before {
  background: url('../images/icon-checked.png') no-repeat center;
}
.container {
  /*&:after {
    content: '';
    display: table;
    clear: both;
  }*/
}
main {
  margin-top: 127px;
}
.palanquin {
  font-family: 'Palanquin Dark', sans-serif;
}
.hind {
  font-family: 'Hind', sans-serif;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra {
  font-weight: 800;
}
.italic {
  font-style: italic;
}
.title-destacado {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #2a5d73;
}
.title-destacado span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #988e7d;
  margin-bottom: 5px;
}
.btn-verde {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  background: #adc451;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 12px;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-verde:hover {
  background: #3e3e5a;
}
.btn-yellow {
  font-weight: 600;
  font-size: 14px;
  color: #3f3f3f;
  padding: 10px 25px;
  background-color: #EAC033;
  border-radius: 5px;
  text-align: center;
}
.btn-yellow:hover {
  background-color: #D6D2CB;
}
.one-column {
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 0;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0;
  /* Firefox */
  column-gap: 0;
}
.two-columns {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
}
/* 404 */
.breadcrumbs li {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #3f3f3f;
}
.breadcrumbs li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #CBC6BD;
}
.breadcrumbs li a img {
  vertical-align: middle;
  margin-right: 7px;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
/* COOKIES */
#barracookies {
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 17px;
  z-index: 999999999;
  width: 100%;
}
#barracookies p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#barracookies .btn.btn-black {
  margin-left: 15px;
  padding: 11px 15px;
}
#barracookies .link-page {
  text-decoration: underline!important;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-left: 10px;
}
/* error 404 */
.error-404 {
  background: url(../images/bg-sombreros.jpg) repeat;
  padding: 220px 0 150px 0;
  text-align: center;
}
.error-404 h1 {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  color: grey;
  text-transform: uppercase;
}
.error-404 p {
  font-size: 39px;
  font-size: 2.4375rem;
  color: grey;
  padding-top: 15px;
}
.error-404 .mas a {
  background: green;
}
.error-404 .mas a:hover {
  color: pink;
}
/* legal */
.content-gen {
  padding: 80px 0 140px 0;
}
.content-gen .mod-legal .title {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  color: red;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.content-gen .mod-legal h2 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: red;
  margin-bottom: 20px;
}
.content-gen .mod-legal p {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: red;
  margin-bottom: 15px;
}
/* header */
.pre-menu-mobile {
  display: none;
}
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
}
.c-header .header-top {
  background-color: #D6D2CB;
  padding: 10px 0;
}
.c-header .header-top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header .header-top span {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #3f3f3f;
}
.c-header .header-top span svg {
  vertical-align: middle;
}
.c-header .header-top a {
  font-weight: 500;
  font-size: 14px;
  color: #3f3f3f;
  margin-right: 20px;
}
.c-header .header-top a svg {
  margin-right: 10px;
  vertical-align: middle;
}
.c-header .header-top a:hover {
  text-decoration: underline;
}
.c-header .header-top a:last-child {
  margin-right: 0;
}
.c-header #menu {
  padding: 15px 0;
}
.c-header #menu > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header #menu .cart-header {
  position: relative;
}
.c-header #menu .cart-header span {
  position: absolute;
  border-radius: 50%;
  background-color: #988E7D;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  color: #fff;
  display: flex;
  text-align: center;
  font-size: 10px;
  justify-content: center;
  flex-direction: column;
}
.c-header #menu #nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  width: 100%;
}
.c-header #menu #nav-menu ul li {
  display: inline-block;
  margin-right: 45px;
  position: relative;
}
.c-header #menu #nav-menu ul li a {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #3f3f3f;
}
.c-header #menu #nav-menu ul li a:hover {
  color: #2A5D73;
}
.c-header #menu #nav-menu ul li .submenu {
  display: none;
  background-color: #EAC033;
  border-radius: 5px;
  padding: 35px 70px;
  width: 580px;
  position: absolute;
  left: -90px;
  top: 50px;
}
.c-header #menu #nav-menu ul li .submenu li {
  display: table;
  margin-bottom: 5px;
  margin-right: 0;
  max-width: 185px;
}
.c-header #menu #nav-menu ul li .submenu li a {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}
.c-header #menu #nav-menu ul li .submenu li a:before {
  content: '';
  display: inline-block;
  background-image: url('../images/ico-submenu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 0px;
  height: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu ul li .submenu li a:hover:before {
  display: inline-block;
  width: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu ul li .submenu li a.active:before {
  display: inline-block;
  width: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu ul li .submenu .sombra {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-header #menu #nav-menu ul li .submenu .tornillo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.c-header #menu #nav-menu ul li .submenu:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('../images/ico-triangle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: -15px;
  left: 135px;
}
.c-header #menu #nav-menu ul li .submenu:after {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  top: -35px;
  position: absolute;
  left: 0;
  background-color: transparent;
}
.c-header #menu #nav-menu ul li:hover .submenu {
  display: block;
}
.c-header #menu #nav-menu ul li:last-child {
  margin-right: 0;
}
.c-header #menu #nav-menu .menu-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 75px;
  width: 100%;
  position: relative;
}
.c-header #menu #nav-menu .menu-user .submenu {
  position: absolute;
  left: -50px;
  top: 55px;
  padding: 35px 30px;
  background-color: #F4F4F4;
  border-radius: 5px;
  width: 188px;
  display: none;
}
.c-header #menu #nav-menu .menu-user .submenu li {
  display: table;
  margin-bottom: 5px;
  margin-right: 0;
}
.c-header #menu #nav-menu .menu-user .submenu li a {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}
.c-header #menu #nav-menu .menu-user .submenu li a:before {
  content: '';
  display: inline-block;
  background-image: url('../images/ico-submenu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 0px;
  height: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu .menu-user .submenu li a:hover:before {
  display: inline-block;
  width: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu .menu-user .submenu li a.active:before {
  display: inline-block;
  width: 10px;
  transition: all 0.5s ease;
}
.c-header #menu #nav-menu .menu-user .submenu li:last-child {
  margin-bottom: 0;
}
.c-header #menu #nav-menu .menu-user .submenu:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('../images/ico-submenu-user.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: -15px;
  left: 45px;
}
.c-header #menu #nav-menu .menu-user .submenu:after {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  top: -35px;
  position: absolute;
  left: 0;
  background-color: transparent;
}
.c-header #menu #nav-menu .menu-user:hover .submenu {
  display: block;
}
.c-header #menu #nav-menu .header-search {
  max-width: 330px;
  width: 100%;
  position: relative;
  background-image: url('../images/ico-search.svg');
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-color: #fff;
  border-radius: 5px;
}
.c-header #menu #nav-menu .header-search input {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #988e7d;
  border: 1px solid #988E7D;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
}
.c-header #menu #nav-menu .header-search input::placeholder {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #988e7d;
}
.ico-user:hover .c-header #menu #nav-menu .menu-user .submenu {
  display: block !important;
}
#page-id-1 .c-header #menu #nav-menu ul li a {
  color: #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #nav-menu .menu-user svg path {
  fill: #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #logo svg path {
  fill: #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #logo rect {
  fill: #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #nav-menu .header-search {
  background-color: transparent;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #nav-menu .header-search input {
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header #menu #nav-menu .header-search input::placeholder {
  color: #fff;
  transition: all 0.5s ease;
}
#page-id-1 .c-header {
  background-color: transparent;
  transition: all 0.5s ease;
}
#page-id-1 .c-header .header-top {
  margin-bottom: 25px;
  transition: all 0.5s ease;
}
#page-id-1 main {
  margin-top: 70px;
}
#page-id-1 header.c-header.menu-fijo #menu #nav-menu ul li a {
  color: #3f3f3f;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #nav-menu .menu-user svg path {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo g#Grupo_7 path {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo g#Grupo_8 path {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo g#Grupo_13 path {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo g#Grupo_6 path {
  fill: #988e7d;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo g#Grupo_5 path {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #logo rect {
  fill: #2a5d73;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #nav-menu .header-search {
  background-color: transparent;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #nav-menu .header-search input {
  color: #988E7D;
  border: 1px solid #988E7D;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo #menu #nav-menu .header-search input::placeholder {
  color: #988E7D;
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo {
  background-color: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
  transition: all 0.5s ease;
}
#page-id-1 header.c-header.menu-fijo .header-top {
  margin-bottom: 0px;
  transition: all 0.5s ease;
}
#page-id-1 main {
  margin-top: 70px;
}
.search-active:after {
  background: #171515;
  opacity: 0.8;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#search {
  position: fixed;
  top: 127px;
  left: 50%;
  transform: translate(-50%);
  background-color: #F4F4F4;
  max-width: 100%;
  width: 1300px;
  z-index: 9;
  border-radius: 5px;
}
.search-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;
  background: #171515;
  opacity: 0.8;
}
.search {
  overflow-x: scroll;
  height: calc(100vh - 127px);
}
.search__filters {
  background-color: #E0DDD7;
  padding: 20px 80px;
}
.search__filters__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__filters .title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3f3f3f;
  margin-right: 50px;
}
.search__filters .style-select {
  position: relative;
  background-image: url('../images/ico-select.svg');
  background-position: center right 13px;
  background-repeat: no-repeat;
  background-size: 11px;
  width: 165px;
}
.search__filters .style-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #83796a;
  width: 100%;
  background-color: transparent;
  padding: 6px 13px;
  border: 1px solid #83796A;
  border-radius: 5px;
}
.search__filters .style-select:nth-child(1) {
  width: 135px;
}
.search__filters .filters-selects {
  max-width: 680px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}
.search__filters .close-search {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.search__content {
  padding: 30px 80px;
}
.search__content__title {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #3f3f3f;
  display: block;
  margin-bottom: 20px;
}
.search__content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.pre-menu-mobile > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-menu-mobile .logo-mobile {
  max-width: 60px;
  width: 100%;
}
.pre-menu-mobile .logo-mobile a {
  width: 100%;
}
.pre-menu-mobile .logo-mobile a svg {
  width: 100%;
  height: auto;
}
.pre-menu-mobile .mobile-menu-left {
  display: flex;
  align-items: center;
}
.pre-menu-mobile .mobile-menu-left a:first-child {
  margin-right: 15px;
}
.pre-menu-mobile .mobile-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60px;
  width: 100%;
}
.pre-menu-mobile .btn-menu {
  width: 22px;
  height: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: relative;
  z-index: 10;
}
.pre-menu-mobile .btn-menu span {
  display: block;
  width: 100%;
  height: 5px;
  border: 1px solid #3F3F3F;
  margin-bottom: 2px;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.pre-menu-mobile .btn-menu span:nth-child(2) {
  width: 80%;
}
.pre-menu-mobile .btn-menu span:nth-child(3) {
  width: 60%;
}
.pre-menu-mobile .btn-menu-active span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.5s ease;
}
.pre-menu-mobile .btn-menu-active span:nth-child(2) {
  opacity: 0;
  transition: all 0.5s ease;
}
.pre-menu-mobile .btn-menu-active span:nth-child(3) {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.5s ease;
}
.menu-mobile-active {
  transform: translateY(0vh) !important;
  transition: all 0.5s ease;
}
.irs--flat.irs-with-grid {
  width: 200px;
}
/* footer */
footer {
  background-color: #D6D2CB;
  padding: 40px 0;
}
footer .o-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
footer .o-footer-top__categorys {
  max-width: 860px;
  width: 100%;
}
footer .o-footer-top__categorys h3 {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  color: #3f3f3f;
  margin-bottom: 10px;
}
footer .o-footer-top__categorys ul li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 8px;
}
footer .o-footer-top__categorys ul li a {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #3f3f3f;
}
footer .o-footer-top__categorys ul li a:hover {
  text-decoration: underline;
}
footer .o-footer-top__categorys ul li:last-child {
  margin-right: 0;
}
footer .o-footer-top__info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
footer .o-footer-top__info .info-top {
  margin-bottom: 8px;
}
footer .o-footer-top__info .info-top a {
  font-weight: 500;
  font-size: 14px;
  color: #3f3f3f;
}
footer .o-footer-top__info .info-top a svg {
  margin-right: 9px;
  vertical-align: middle;
}
footer .o-footer-top__info .info-top a:hover {
  text-decoration: underline;
}
footer .o-footer-top__info .info-top a:first-child {
  margin-right: 20px;
}
footer .o-footer-top__info .info-pay {
  display: flex;
  align-items: center;
}
footer .o-footer-top__info .info-pay span {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #3f3f3f;
}
footer .sombra svg {
  width: 100%;
}
footer .o-footer-bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .o-footer-bottom .politicas li {
  display: inline-block;
}
footer .o-footer-bottom .politicas li a {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #3f3f3f;
}
footer .o-footer-bottom .politicas li a:hover {
  text-decoration: underline;
}
footer .o-footer-bottom .politicas li span {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #3f3f3f;
}
.container-portada {
  max-width: 98%;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}
.o-home-slider {
  position: relative;
}
.o-home-slider .slick-dots {
  position: absolute;
  top: 40%;
  width: 16px;
  right: 60px;
  z-index: 3;
  transform: translate(-50%, 0);
}
.o-home-slider .slick-dots li {
  display: block;
  margin-bottom: 10px;
}
.o-home-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: rgba(152, 142, 125, 0.7);
  font-size: 0;
}
.o-home-slider .slick-dots li button:before {
  content: 'none';
  font-size: 0;
}
.o-home-slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.o-home-slider .slick-dots li:last-child {
  margin-bottom: 0;
}
.o-home-slider__cont {
  position: relative;
  height: 720px;
  width: 100%;
  border-radius: 5px;
}
.o-home-slider__cont:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 445px;
  border-radius: 5px;
  background-image: linear-gradient(#171515, transparent);
  z-index: 2;
}
.o-home-slider__cont > .container {
  position: relative;
  height: 100%;
  z-index: 3;
}
.o-home-slider__cont img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
}
.o-home-slider__cont__info {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translate(0, -50%);
}
.o-home-slider__cont__info h3 {
  font-weight: normal;
  font-size: 55px;
  line-height: 65px;
  text-align: left;
  color: #fff;
  max-width: 600px;
  width: 100%;
  font-weight: 800;
}
.o-home-slider__cont__info h3 span {
  color: #CBC6BD;
}
.o-home-slider__cont__info p {
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: left;
  color: #fff;
  max-width: 430px;
  width: 100%;
}
.o-category-home {
  padding-bottom: 70px;
}
.o-category-home > .container {
  padding-top: 55px;
  border-radius: 5px;
  margin-top: -150px;
  position: relative;
  z-index: 2;
  background: #fff;
}
.o-category-home__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
}
.o-category-home__list__category {
  padding: 20px;
  background-color: #D6D2CB;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease;
}
.o-category-home__list__category span {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3f3f3f;
  max-width: 115px;
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}
.o-category-home__list__category .category-eye {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: #2a5d73;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.o-category-home__list__category .category-eye svg {
  display: block;
  margin: 0 auto;
}
.o-category-home__list__category:hover {
  background-color: #2A5D73;
  transition: all 0.5s ease;
}
.o-category-home__list__category:hover span {
  color: #fff;
  transition: all 0.5s ease;
}
.o-category-home__list__category:nth-child(1) {
  background-image: url('../images/category-fijaciones.png');
  background-repeat: no-repeat;
  background-position: bottom -25px right -35px;
}
.o-category-home__list__category:nth-child(2) {
  background-image: url('../images/category-cintas.png');
  background-repeat: no-repeat;
  background-position: bottom -20px right 0px;
}
.o-category-home__list__category:nth-child(3) {
  background-image: url('../images/category-electrica.png');
  background-repeat: no-repeat;
  background-position: bottom -50px right -40px;
}
.o-category-home__list__category:nth-child(4) {
  background-image: url('../images/category-manual.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(5) {
  background-image: url('../images/category-corte.png');
  background-repeat: no-repeat;
  background-position: bottom -5px right -5px;
}
.o-category-home__list__category:nth-child(6) {
  background-image: url('../images/category-escaleras.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(7) {
  background-image: url('../images/category-proteccion.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(8) {
  background-image: url('../images/category-taller.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(9) {
  background-image: url('../images/category-soldadura.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(10) {
  background-image: url('../images/category-escritura.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(11) {
  background-image: url('../images/category-pintura.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-category-home__list__category:nth-child(12) {
  background-image: url('../images/category-cuerdas.png');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.o-home-details {
  max-width: 1065px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translate(-50%, 0);
}
.o-home-details__box {
  width: 332px;
  border-radius: 5px;
  padding: 20px;
  background: rgba(23, 21, 21, 0.8);
  display: flex;
  align-items: center;
}
.o-home-details__box svg {
  margin-right: 20px;
}
.o-home-details__box h3 {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  color: #fff;
}
.o-home-details__box p {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  text-align: left;
  color: #fff;
}
.o-featured-products {
  background-color: #F4F4F4;
  padding-top: 85px;
  padding-bottom: 0px;
  border-radius: 5px;
  max-width: 98%;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
.o-featured-products__list .slick-slide {
  margin: 0 7.5px;
  margin-bottom: 350px;
}
.o-featured-products__list .slick-track {
  /*padding: 0 50px;*/
}
.o-featured-products__list .slick-slide > div {
  margin-bottom: -200px;
}
.o-featured-products__list .o-products {
  margin-top: 45px;
  margin-bottom: 200px;
}
.o-products-offert {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #DB3C3C;
  padding: 3px 10px;
}
.o-products-offert:after {
  content: '';
  display: block;
  background-image: url('../images/ico-oferta.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 38px;
  position: absolute;
  top: -7px;
  right: -35px;
}
.o-products-new {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #50C724;
  padding: 3px 10px;
}
.o-products-new:after {
  content: '';
  display: block;
  background-image: url('../images/ico-new.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 38px;
  position: absolute;
  top: -7px;
  right: -35px;
}
.o-products {
  background-color: #fff;
  border: 1px solid #D6D2CB;
  position: relative;
  transition: all 0.5s ease;
}
.o-products__img {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.o-products__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  transition: all 1s ease;
}
.o-products__img:hover img {
  transform: scale(1.3);
  transition: all 1s ease;
}
.o-products__info {
  padding: 40px;
}
.o-products__category {
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #2a5d73;
}
.o-products__title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3F3F3F;
  margin-bottom: 10px;
}
.o-products__title span {
  color: #988E7D;
  display: block;
}
.o-products__title:hover {
  text-decoration: underline;
}
.o-products__price {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #50c724;
}
.o-products__price .old-price {
  margin-right: 10px;
  text-decoration: line-through;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  color: #a3a3a3;
}
.o-products__desc {
  position: absolute;
  padding: 40px 20px;
  padding-top: 10px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #d6d2cb;
  box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.25);
  border-top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.o-products__desc p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #3f3f3f;
}
.o-products__desc__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 14px;
  color: #2a5d73;
  margin-top: 10px;
  margin-bottom: 20px;
}
.o-products__desc__pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.o-products__desc__pay .see-products {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #3f3f3f;
  background-color: #EAC033;
  padding: 10px 30px;
  border-radius: 5px;
}
.o-products__desc__pay .see-products:hover {
  background-color: #D6D2CB;
}
.o-products__desc__pay .add-product {
  background-image: url('../images/ico-carrito-product.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  width: 85px;
  height: 35px;
  background-color: #D6D2CB;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.o-products__desc__pay .add-product:hover {
  background-color: #EAC033;
  transition: all 0.5s ease;
}
.o-products:hover {
  transform: scale(1.2);
  z-index: 2;
  transition: all 0.5s ease;
}
.o-products:hover .o-products__desc {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  transition: all 0.5s ease;
}
.o-home-banners {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;
  margin-top: -270px;
}
.o-home-banners__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 13px;
}
.o-home-banners .banners-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url('../images/home-banner-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}
.o-home-banners .banners-1 .title {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-align: left;
  color: #eac033;
  margin-bottom: 8px;
}
.o-home-banners .banners-1 .offer {
  font-weight: normal;
  font-size: 100px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 10px;
}
.o-home-banners .banners-1 .offer span {
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 23px;
  letter-spacing: 0.15em;
  line-height: 30px;
  color: #fff;
}
.o-home-banners .banners-1 p {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}
.o-home-banners .banners-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 210px;
  background-image: url('../images/home-banner-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  padding-top: 125px;
}
.o-home-banners .banners-2 .title {
  font-weight: 800;
  font-size: 22px;
  line-height: 23px;
  text-align: left;
  color: #db3c3c;
}
.o-home-banners .banners-2 span {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #3f3f3f;
  display: block;
}
.o-home-banners .banners-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 210px;
  background-image: url('../images/home-banner-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.o-home-banners .banners-3 img {
  display: block;
  margin-bottom: 18px;
}
.o-home-banners .banners-3 .title {
  font-weight: 800;
  font-size: 22px;
  line-height: 23px;
  text-align: left;
  color: #eac033;
  margin-bottom: 5px;
}
.o-home-banners .banners-3 p {
  font-size: 16px;
  text-align: left;
  color: #fff;
}
.o-home-banners .banners-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 210px;
  background-image: url('../images/home-banner-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  padding-top: 40px;
}
.o-home-banners .banners-4 .title {
  font-weight: 800;
  font-size: 22px;
  line-height: 23px;
  text-align: left;
  color: #3f3f3f;
  max-width: 230px;
  width: 100%;
  margin-bottom: 5px;
}
.o-home-banners .banners-4 span {
  font-weight: 600;
  font-size: 37px;
  text-align: left;
  color: #2a5d73;
  display: block;
  margin-bottom: 15px;
}
.o-home-banners .banners-4 .btn-eye {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.o-home-banners .banners-4 .btn-eye svg {
  display: block;
  margin: 0 auto;
}
.o-home-banners .banners-4 .btn-eye svg path {
  fill: #2A5D73;
}
.o-home-banners .banners-4 .btn-eye:hover {
  background-color: #2A5D73;
}
.o-home-banners .banners-4 .btn-eye:hover svg path {
  fill: #fff;
}
.o-home-banners .banners-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url('../images/home-banner-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  padding-top: 140px;
}
.o-home-banners .banners-5 span {
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #fff;
  display: block;
}
.o-home-banners .banners-5 .title {
  font-weight: 800;
  font-size: 53px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}
.o-home-banners .banners-5 .btn-yellow {
  display: table;
  margin: 0 auto;
}
.o-home-banners .banners {
  border-radius: 5px;
  border: 1px solid #D6D2CB;
}
.o-marcas {
  position: relative;
}
.o-marcas__title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #2a5d73;
  margin-bottom: 30px;
}
.o-marcas__slider {
  padding: 0 50px;
}
.o-marcas__slider p img {
  display: block;
  margin: 0 auto;
}
.o-marcas .slick-next {
  width: 18px;
  height: 18px;
  font-size: 0;
  background-image: url('../images/slick-next.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.o-marcas .slick-next:before {
  content: none;
}
.o-marcas .slick-prev {
  width: 18px;
  height: 18px;
  font-size: 0;
  background-image: url('../images/slick-prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.o-marcas .slick-prev:before {
  content: none;
}
.o-form-home {
  padding-top: 80px;
  padding-bottom: 65px;
}
.form-box {
  background-color: #F4F4F4;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 150px;
}
.form-box__subtitle {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #988e7d;
  margin-bottom: 5px;
}
.form-box__title {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #2a5d73;
  margin-bottom: 20px;
}
.form-box .grid-form-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="tel"],
.form-box textarea {
  width: 100%;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #c1bbb0;
  padding: 10px;
  margin-top: 8px;
}
.form-box label {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #3f3f3f;
  display: block;
}
.form-box label.politicas {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #988e7d;
  margin-top: 8px;
}
.form-box label.politicas a {
  text-decoration: underline;
}
.form-box input[type="submit"] {
  font-weight: 600;
  font-size: 14px;
  color: #3f3f3f;
  padding: 10px 50px;
  background-color: #EAC033;
  border-radius: 5px;
  border: 0;
  margin-top: 8px;
  text-transform: uppercase;
  text-align: center;
}
.form-box input[type="submit"]:hover {
  background-color: #D6D2CB;
}
@media screen and (min-width: 1600px) {
  .cont-1500 {
    width: 1580px;
  }
}
@media screen and (min-width: 1400px) {
  .cont-1400 {
    width: 1390px;
  }
}
@media screen and (min-width: 1350px) {
  .cont-1300 {
    width: 1330px;
  }
}
@media screen and (min-width: 1250px) {
  .cont-1200 {
    width: 1260px;
  }
}
@media screen and (min-width: 1100px) {
  .cont-1040 {
    width: 1070px;
  }
}
@media screen and (min-width: 991px) {
  .cont-960 {
    width: 960px;
  }
}
.o-categoria-head {
  padding-top: 15px;
  border-radius: 5px;
}
.o-categoria-head__box {
  padding-top: 90px;
  padding-bottom: 110px;
  background-image: url('../images/categoria-head.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.o-categoria-head__subtitle {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #fff;
}
.o-categoria-head__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  color: #fff;
}
.o-categoria {
  padding-bottom: 55px;
}
.btn-open-filters {
  display: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #3f3f3f;
  padding: 5px 10px;
  border-radius: 5px;
  background: #eac033;
  max-width: 110px;
  border: 0;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 8;
}
.close-sidebar__box {
  display: none;
  margin-bottom: 10px;
}
.close-sidebar {
  width: 25px;
  height: 25px;
  position: relative;
}
.close-sidebar span {
  width: 100%;
  height: 1px;
  background-color: #3f3f3f;
  position: absolute;
  top: 50%;
  left: 50%;
}
.close-sidebar span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-sidebar span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.o-categoria-desc {
  margin-bottom: 65px;
}
.o-categoria-desc > .container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: -60px;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.o-categoria-desc .cont-hide {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.o-categoria-desc .cont-hide .breadcrumbs {
  text-align: center;
  margin-bottom: 20px;
}
.o-categoria-desc .cont-hide .btn-more {
  position: absolute;
  border: none;
  bottom: -37.5px;
  left: 50%;
  width: 35px;
  height: 35px;
  background: url(../images/producto-more.svg) no-repeat center;
}
.o-categoria-desc .cont-hide .btn-more-active {
  background: url(../images/producto-more-2.svg) no-repeat center;
}
.o-categoria-desc .cont-hide .gradient {
  height: 55px;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0.83)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
.o-categoria-desc .cont-hide .gradient:after {
  content: '';
  display: block;
  background: url(../images/producto-shadow.svg) no-repeat center;
  width: 100%;
  height: 10px;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
}
.o-categoria-desc .cont-hide .gradient-active {
  background: none;
  visibility: hidden;
}
.o-categoria-desc .cont-hide p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #3f3f3f;
  height: 85px;
  overflow: hidden;
}
.o-categoria-desc .cont-hide-active p {
  height: auto;
}
.o-categoria > .container {
  background-color: #F4F4F4;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 330px 1fr;
  padding-left: 0;
}
.o-categoria__sidebar {
  background-color: #E0DDD7;
  border-radius: 5px 0px 0px 0px;
  padding: 40px;
}
.o-categoria__sidebar .top-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.o-categoria__sidebar .top-sidebar .title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3f3f3f;
}
.o-categoria__sidebar .top-sidebar .btn-borrar {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  border: 0;
  background-color: transparent;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}
.o-categoria__sidebar .top-sidebar .btn-borrar:hover {
  text-decoration: underline;
}
.o-categoria__sidebar .filters {
  margin-bottom: 30px;
}
.o-categoria__sidebar .filters .style-select {
  margin-bottom: 15px;
}
.o-categoria__sidebar .filters .style-select:last-child {
  margin-bottom: 0px;
}
.o-categoria__sidebar .filters h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #3f3f3f;
  margin-bottom: 10px;
}
.o-categoria__sidebar .banner-img {
  margin-bottom: 30px;
}
.o-categoria__sidebar .banner-img img {
  transition: all 0.5s ease;
}
.o-categoria__sidebar .banner-img:hover img {
  opacity: 0.8;
  transition: all 0.5s ease;
}
.o-categoria__sidebar .style-select {
  position: relative;
  background-image: url('../images/ico-select.svg');
  background-position: center right 13px;
  background-repeat: no-repeat;
  background-size: 11px;
}
.o-categoria__sidebar .style-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #83796a;
  width: 100%;
  background-color: transparent;
  padding: 6px 13px;
  border: 1px solid #83796A;
  border-radius: 5px;
}
.o-categoria__sidebar .info-sidebar li {
  display: grid;
  grid-template-columns: 37px 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.o-categoria__sidebar .info-sidebar li img {
  display: block;
  margin: 0 auto;
}
.o-categoria__sidebar .info-sidebar li h3 {
  font-weight: 600;
  font-size: 13px;
  text-align: left;
  color: #3f3f3f;
  margin-bottom: 3px;
}
.o-categoria__sidebar .info-sidebar li span {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  text-align: left;
  color: #3f3f3f;
  display: block;
}
.o-categoria__sidebar .info-sidebar li:last-child {
  margin-bottom: 0px;
}
.o-categoria__list {
  padding: 40px 60px;
}
.o-categoria__list .total-results {
  font-size: 14px;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 15px;
  color: #3f3f3f;
}
.o-categoria__list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.o-single-product {
  padding-top: 20px;
}
.o-single-product .breadcrumbs {
  margin-bottom: 25px;
}
.o-single-product__grid {
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-gap: 60px;
  padding-bottom: 60px;
}
.o-single-product__grid__slider__grid {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.o-single-product__grid__slider__grid .slider-productos-left {
  height: 422px;
  width: 100%;
  border: 1px solid #DEDDEC;
  border-radius: 3px;
}
.o-single-product__grid__slider__grid .slider-productos-left img {
  object-position: center;
  object-fit: contain;
  width: 100%;
  height: 99%;
  object-fit: cover;
  border-radius: 5px;
}
.o-single-product__grid__slider__grid .slider-productos-left .slick-slide {
  display: flex;
  width: 100%;
  height: 422px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.o-single-product__grid__slider__grid .slider-productos-right {
  height: 390px;
  width: 100%;
}
.o-single-product__grid__slider__grid .slider-productos-right .slick-list {
  margin: -5px 0px;
}
.o-single-product__grid__slider__grid .slider-productos-right .slick-slide {
  border: 1px solid #DEDDEC;
  border-radius: 3px;
  margin: 5px 0px;
  transition: all 0.5s ease;
}
.o-single-product__grid__slider__grid .slider-productos-right .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.o-single-product__grid__slider__grid .slider-productos-right .slick-slide:hover {
  border: 1px solid #24599A;
  transition: all 0.5s ease;
}
.o-single-product__grid__slider__valoraciones {
  background-image: url('../images/valoracion-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 20px 30px;
  border: 1px solid #DEDDEC;
  border-radius: 3px;
}
.o-single-product__grid__slider__valoraciones span {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #001733;
}
.o-single-product__grid__slider__valoraciones span svg {
  margin-left: 10px;
  margin-right: 10px;
}
.o-single-product__grid__slider__valoraciones span span {
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  color: #a3a3ca;
}
.o-single-product__grid__slider__valoraciones .btn-orange {
  margin-top: 10px;
  font-size: 14px;
}
.o-single-product__grid__info .flex-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 305px;
  width: 100%;
  margin-bottom: 10px;
}
.o-single-product__grid__info .flex-top h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #a3a3a3;
}
.o-single-product__grid__info .flex-top h4 img {
  vertical-align: middle;
}
.o-single-product__grid__info .flex-top div#st-1 div.st-btn {
  display: inline-block !important;
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='facebook'] {
  background-color: transparent;
  position: relative;
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='facebook'] img {
  display: none;
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='facebook']:before {
  content: '';
  display: block;
  background-image: url('../images/ico-face.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='twitter'] {
  background-color: transparent;
  position: relative;
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='twitter'] img {
  display: none;
}
.o-single-product__grid__info .flex-top #st-1 .st-btn[data-network='twitter']:before {
  content: '';
  display: block;
  background-image: url('../images/ico-twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.o-single-product__grid__info .title {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 34px;
  color: #3f3f3f;
  max-width: 350px;
  width: 100%;
  margin-bottom: 5px;
}
.o-single-product__grid__info .price {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 35px;
  color: #59d588;
  margin-bottom: 20px;
}
.o-single-product__grid__info .price .old-price {
  font-weight: 600;
  font-size: 20px;
  color: #A3A3A3;
  text-decoration: line-through;
  margin-right: 10px;
}
.o-single-product__grid__info .price .impuestos {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #a3a3a3;
  margin-left: 10px;
}
.o-single-product__grid__info .subtitle {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.05em;
  line-height: 28px;
  color: #001733;
  margin-bottom: 15px;
}
.o-single-product__grid__info .desc {
  max-width: 647px;
  width: 100%;
}
.o-single-product__grid__info .desc p {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #3f3f3f;
  margin-bottom: 15px;
}
.o-single-product__grid__info .desc ul {
  margin-bottom: 15px;
  padding-left: 20px;
}
.o-single-product__grid__info .desc ul li {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  color: #001733;
  margin-bottom: 8px;
  list-style: disc;
}
.o-single-product__grid__info .desc ul li:last-child {
  margin-bottom: 0;
}
.o-single-product__grid__info .list-descuentos {
  margin-bottom: 20px;
}
.o-single-product__grid__info .list-descuentos li {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #a3a3ca;
}
.o-single-product__grid__info .total-product {
  display: flex;
  align-items: center;
}
.o-single-product__grid__info .total-product span {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #3f3f3f;
  margin-right: 20px;
}
.o-single-product__grid__info input[type="number"] {
  max-width: 65px;
  width: 100%;
  border: 1px solid #83796A;
  border-radius: 5px;
  padding: 8px 20px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #83796a;
}
.o-single-product__grid__info .btn-add {
  font-weight: 600;
  font-size: 14px;
  color: #3f3f3f;
  padding: 10px 25px;
  background-color: #EAC033;
  border-radius: 5px;
  text-align: center;
}
.o-single-product__grid__info .btn-add:hover {
  background-color: #D6D2CB;
}
.o-single-product__tabs {
  margin-bottom: 50px;
}
.o-single-product__tabs__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.o-single-product__tabs__buttons li {
  display: inline-block;
}
.o-single-product__tabs__buttons li button {
  width: 390px;
  border: 0;
  padding: 15px 30px;
  border-radius: 5px;
  background: #f4f4f4;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3f3f3f;
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
}
.o-single-product__tabs__buttons li button svg {
  margin-right: 15px;
}
.o-single-product__tabs__buttons li button svg path {
  transition: all 0.5s ease;
}
.o-single-product__tabs__buttons li button:hover {
  color: #fff;
  background-color: #2A5D73;
  transition: all 0.5s ease;
}
.o-single-product__tabs__buttons li button:hover svg path {
  stroke: #fff;
  transition: all 0.5s ease;
}
.o-single-product__tabs__textarea {
  width: 100%;
  padding: 35px 70px;
  background: #f4f4f4;
  border-radius: 0px 0px 5px 5px;
}
.o-single-product__tabs__textarea p {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #3f3f3f;
  margin-bottom: 25px;
}
.o-contacto-head {
  padding-top: 15px;
  border-radius: 5px;
}
.o-contacto-head__box {
  padding-top: 90px;
  padding-bottom: 110px;
  background-image: url('../images/contacto-head.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.o-contacto-head__subtitle {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #fff;
}
.o-contacto-head__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  color: #fff;
}
.o-contacto {
  padding-bottom: 60px;
}
.o-contacto__box {
  margin-top: -65px;
  position: relative;
  z-index: 2;
  padding: 60px 240px;
  background-color: #F4F4F4;
  border-radius: 5px;
  background-image: url('../images/contacto-back.jpg');
  background-position: top left;
  background-repeat: no-repeat;
}
.o-contacto__box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.o-contacto__box__top button {
  background-color: transparent;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.2em;
  color: #cbc6bd;
  border: 0;
  transition: all 0.5s ease;
}
.o-contacto__box__top button:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #83796A;
  margin-top: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.o-contacto__box__top button:hover {
  color: #83796A;
  transition: all 0.5s ease;
}
.o-contacto__box__top button:hover:after {
  opacity: 1;
  transition: all 0.5s ease;
}
.o-contacto__box__top button.active {
  color: #83796A;
  transition: all 0.5s ease;
}
.o-contacto__box__top button.active:after {
  opacity: 1;
  transition: all 0.5s ease;
}
.o-contacto__box form {
  margin-bottom: 50px;
}
.o-contacto__box form label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #3f3f3f;
  display: block;
}
.o-contacto__box form .acceptance-politicas {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #988e7d;
  float: left;
}
.o-contacto__box form .acceptance-politicas a {
  color: #988e7d;
  text-decoration: underline;
}
.o-contacto__box form .grid-form-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.o-contacto__box form .form-flex {
  clear: both;
}
.o-contacto__box form input[type="text"],
.o-contacto__box form input[type="email"],
.o-contacto__box form input[type="tel"],
.o-contacto__box form textarea {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #c1bbb0;
  margin-top: 5px;
}
.o-contacto__box form input[type="submit"] {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #3f3f3f;
  float: right;
  background-color: #EAC033;
  padding: 10px 50px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.o-contacto__box form input[type="submit"]:hover {
  background-color: #D6D2CB;
  transition: all 0.5s ease;
}
.o-contacto__box .o-contacto-faqs .accordion {
  font-family: Rubik;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 21px;
  color: #01001b;
  cursor: pointer;
  padding: 15px 30px;
  padding-right: 55px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  background-color: #e0ddd7;
  position: relative;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.o-contacto__box .o-contacto-faqs .accordion:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  width: 23px;
  height: 23px;
  background-image: url('../images/ico-faqs.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.o-contacto__box .o-contacto-faqs .active,
.o-contacto__box .o-contacto-faqs .accordion:hover {
  background-color: #ccc;
}
.o-contacto__box .o-contacto-faqs .panel {
  margin-bottom: 20px;
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.o-contacto__box .o-contacto-faqs .panel p {
  padding: 10px 0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #3f3f3f;
}
/* commons */
html {
  font-family: 'Montserrat', sans-serif;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
html body {
  float: left;
  width: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
p {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sans-serif {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.serif {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #555559;
}
img {
  max-width: 100%;
  height: auto;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.total {
  float: left;
  width: 100%;
}
ul,
li {
  list-style-type: none;
  padding-left: 0;
}
.right,
.alignright {
  float: right !important;
}
.left,
.alignleft {
  float: left !important;
}
.p0 {
  padding-left: 0;
  padding-right: 0;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
img {
  max-width: 100%;
}
form input[type="text"],
.form input[type="text"],
form input[type="tel"],
.form input[type="tel"],
form input[type="email"],
.form input[type="email"],
form textarea,
.form textarea {
  float: left;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-bottom: 10px;
}
form textarea,
.form textarea {
  max-height: 100px;
}
form label,
.form label {
  font-size: 11px;
  font-size: 0.6875rem;
  text-align: left;
  color: #666666;
}
form label .checkbox,
.form label .checkbox {
  float: left !important;
  margin-top: 0;
}
form div.wpcf7-validation-errors,
.form div.wpcf7-validation-errors {
  float: left;
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 2px solid red;
  padding-top: 20px;
  color: #999;
}
form div.wpcf7-mail-sent-ok,
.form div.wpcf7-mail-sent-ok {
  float: left;
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 2px solid green;
  padding-top: 20px;
  color: #999;
}
form span.wpcf7-not-valid-tip,
.form span.wpcf7-not-valid-tip {
  display: none;
}
form .wpcf7-not-valid,
.form .wpcf7-not-valid {
  background: rgba(255, 0, 0, 0.4);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555559;
}
p {
  color: #666666;
  font-family: 'Montserrat', sans-serif;
}
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}
.gallery {
  float: left;
  width: 100%;
  margin-bottom: 30px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.gallery .gallery-item {
  padding: 0 10px;
}
/* Galería */
.gallery-columns-1 dl {
  display: block;
  width: 100%;
}
.gallery-columns-2 dl {
  display: block;
  float: left;
  width: 50%;
}
.gallery-columns-3 dl {
  display: block;
  float: left;
  width: 33.3%;
}
.gallery-columns-4 dl {
  display: block;
  float: left;
  width: 25%;
}
.gallery-columns-5 dl {
  display: block;
  float: left;
  width: 20%;
}
.gallery-columns-6 dl {
  display: block;
  float: left;
  width: 16.6%;
}
.gallery-columns-7 dl {
  display: block;
  float: left;
  width: 14.28%;
}
.gallery-columns-8 dl {
  display: block;
  float: left;
  width: 12.5%;
}
.gallery-columns-9 dl {
  display: block;
  float: left;
  width: 11.11%;
}
.pagination {
  text-align: center;
  margin: 60px 0 70px 0;
}
.pagination ul li {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}
.pagination ul li a {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #3f3f3f;
  width: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 19px;
  background: transparent;
  border: 1px solid #d6d2cb;
  border-radius: 50%;
}
.pagination ul li a:hover {
  background: #d6d2cb;
}
.pagination ul li a.current {
  background: grey;
  color: white;
}
.pagination ul li a.prev {
  background: url(../images/arrow-paginacion-prev.png) no-repeat center transparent;
  background-color: transparent;
  border: 0;
}
.pagination ul li a.prev:hover {
  background: url(../images/arrow-paginacion-prev.png) no-repeat center transparent;
  background-color: transparent;
}
.pagination ul li a.next {
  background: url(../images/arrow-paginacion-next.png) no-repeat center transparent;
  background-color: transparent;
  border: 0;
}
.pagination ul li a.next:hover {
  background: url(../images/arrow-paginacion-next.png) no-repeat center transparent;
  background-color: transparent;
}
.pagination ul li a.active {
  background: #d6d2cb;
}
/* responsive */
/* mediaqueries max-1200 */
/* mediaqueries max-1200 */
@media screen and (max-width: 1350px) {
  .c-header #menu #nav-menu .header-search {
    max-width: 270px;
  }
  .c-header #menu #nav-menu .menu-user {
    margin-left: 15px;
    margin-right: 15px;
  }
  .c-header #menu #nav-menu ul li {
    margin-right: 25px;
  }
  .c-header #menu #nav-menu {
    max-width: 960px;
  }
  .o-category-home__list__category span {
    font-size: 12px;
  }
  .o-products__desc p {
    font-size: 12px;
  }
  .o-products__desc__info {
    font-size: 10px;
  }
  .o-products__desc__pay .see-products {
    padding: 10px;
  }
  .o-home-banners .banners-3 .title {
    font-size: 16px;
  }
  .o-home-banners .banners-3 p {
    font-size: 14px;
  }
  .o-single-product__tabs__buttons li button {
    width: 340px;
  }
}
/* mediaqueries max-1200 */
@media screen and (max-width: 1199px) {
  .c-header #menu #nav-menu .header-search {
    max-width: 220px;
  }
  .c-header #menu #nav-menu ul li a {
    font-size: 13px;
  }
  .c-header #menu #nav-menu ul li {
    margin-right: 15px;
  }
  .c-header #menu #nav-menu {
    max-width: 790px;
  }
  .o-home-details__box p {
    font-size: 12px;
  }
  .o-home-details__box h3 {
    font-size: 13px;
  }
  .o-home-details__box {
    width: 300px;
  }
  .o-home-details {
    padding: 0 15px;
  }
  .o-category-home__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .o-home-banners__grid {
    grid-template-columns: 1fr 1fr;
  }
  .o-home-banners .banners {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    height: auto !important;
  }
  .o-categoria__list__grid {
    grid-template-columns: 1fr 1fr;
  }
  .o-categoria > .container {
    grid-template-columns: 290px 1fr;
  }
  .o-single-product__tabs__buttons li button {
    width: 280px;
    font-size: 15px;
  }
  .o-single-product__grid__info .btn-add {
    padding: 10px 15px;
  }
  .o-contacto__box {
    padding: 60px 120px;
  }
}
/* mediaqueries max-991 */
@media screen and (max-width: 991px) {
  #page-id-1 .c-header .header-top,
  .c-header .header-top {
    display: none;
  }
  .c-header #menu {
    background-color: #D6D2CB;
  }
  .c-header #menu #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #E0DDD7;
    max-width: 100%;
    justify-content: center;
    align-items: initial;
    padding-top: 50px;
    transform: translateY(-100vh);
    transition: all 0.5s ease;
  }
  .c-header #menu {
    padding: 10px 0;
  }
  #page-id-1 .c-header #menu #nav-menu .header-search input {
    display: none;
  }
  .c-header #menu #nav-menu .menu-user {
    display: none;
  }
  .o-home-details {
    display: block;
  }
  .o-home-details__box {
    margin-bottom: 10px;
  }
  .o-home-details__box:last-child {
    margin-bottom: 0;
  }
  .o-category-home > .container {
    margin-top: 0;
  }
  .o-home-details {
    bottom: 30px;
    max-width: 300px;
    width: 100%;
  }
  a#logo {
    display: none;
  }
  .pre-menu-mobile {
    display: block;
  }
  #page-id-1 header.c-header.menu-fijo #menu #nav-menu ul li a,
  .c-header #menu #nav-menu ul li a {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #3f3f3f !important;
    display: block;
    border-bottom: 1px solid #3F3F3F;
    padding: 10px 0;
  }
  #page-id-1 header.c-header.menu-fijo #menu #nav-menu ul li,
  .c-header #menu #nav-menu ul li {
    display: block;
    margin-right: 0;
  }
  .c-header #menu #nav-menu .header-search {
    display: none;
  }
  .c-header #menu #nav-menu ul {
    text-align: center;
    width: 100%;
  }
  .c-header #menu #nav-menu ul li .submenu .tornillo,
  .c-header #menu #nav-menu ul li .submenu .sombra {
    display: none;
  }
  .c-header #menu #nav-menu ul li .submenu {
    position: relative;
    left: 0;
    top: 0;
    padding: 15px;
    width: 100%;
  }
  .c-header #menu #nav-menu ul li .submenu li {
    max-width: 100%;
  }
  .c-header #menu #nav-menu ul li .submenu li a {
    border-bottom: 0 !important;
    padding: 5px 0 !important;
  }
  .c-header #menu #nav-menu ul li .submenu:after {
    display: none;
  }
  .c-header #menu #nav-menu ul li .submenu:before {
    display: none;
  }
  .o-home-banners__grid {
    grid-template-columns: 1fr;
  }
  .o-categoria > .container {
    grid-template-columns: 1fr;
  }
  .o-categoria > .container {
    padding-left: 0;
    padding-right: 0;
  }
  main {
    margin-top: 65px;
  }
  .o-single-product__grid {
    display: flex;
    flex-wrap: wrap;
  }
  .o-single-product__grid__slider,
  .o-single-product__grid__info {
    display: block;
    width: 100%;
  }
  .o-single-product__grid__slider__grid {
    display: flex;
    flex-wrap: wrap;
  }
  .o-single-product__grid__slider__grid .slider-productos-left {
    height: 380px;
  }
  .o-single-product__grid__slider__grid .slider-productos-left img {
    object-fit: contain;
    height: 85%;
  }
  .o-single-product__grid__slider__grid .slider-productos-right .slick-list {
    margin: -7px 0px;
  }
  .o-single-product__tabs__buttons {
    flex-wrap: wrap;
  }
  .o-single-product__tabs__buttons li {
    display: block;
    width: 100%;
  }
  .o-single-product__tabs__buttons li button {
    width: 100%;
  }
  /*FOOTER*/
  footer .o-footer-top {
    flex-wrap: wrap;
  }
  footer .o-footer-top__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
  }
  footer .o-footer-top__info .info-top {
    margin-bottom: 0;
  }
  .o-contacto__box form .grid-form-3 {
    grid-template-columns: 1fr;
  }
  .search__content__list {
    grid-template-columns: 1fr 1fr;
  }
  .search__filters,
  #search {
    background-color: #E0DDD7;
  }
  #search {
    top: 40px;
  }
  .search {
    height: calc(100vh - 40px);
  }
  .search-active:after {
    content: none;
  }
  .search__filters__container {
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
  }
  .irs--flat.irs-with-grid {
    display: block;
    width: 100%;
  }
  .search__filters .title {
    margin-bottom: 10px;
  }
  .search__filters .filters-selects {
    flex-wrap: wrap;
    margin-right: 0;
    margin-top: 15px;
    max-width: 100%;
  }
  .search__filters .style-select:nth-child(1),
  .search__filters .style-select {
    width: 100%;
    margin-bottom: 10px;
  }
  .search__filters .close-search {
    position: absolute;
    top: 30px;
    right: 40px;
  }
}
/* mediaqueries max-768 */
@media screen and (max-width: 767px) {
  .o-home-slider__cont__info h3 {
    font-size: 35px;
    line-height: 45px;
  }
  .o-category-home__list {
    overflow: auto;
    display: block;
    padding-top: 20px;
    white-space: nowrap;
  }
  .o-category-home__list__category {
    display: inline-block;
  }
  .o-category-home__list__category {
    margin-right: 20px;
  }
  .o-category-home {
    padding-bottom: 0;
  }
  .o-featured-products {
    margin-top: 45px;
  }
  .o-products:hover {
    transform: scale(1);
  }
  .o-products:hover .o-products__desc {
    visibility: hidden;
    opacity: 0;
  }
  .o-products .o-products__desc {
    display: none;
  }
  .o-products {
    display: flex !important;
    justify-content: space-between;
    border-radius: 5px;
  }
  .o-products__img {
    width: 30%;
    height: auto;
  }
  .o-products__info {
    width: 70%;
    padding: 20px;
  }
  .o-featured-products__list .o-products {
    margin-bottom: 15px;
    margin-top: 0;
  }
  .o-featured-products__list .slick-slide > div {
    margin-bottom: 0;
  }
  .o-featured-products__list {
    margin-top: 20px;
  }
  .o-marcas .slick-prev {
    left: 0;
  }
  .o-marcas .slick-next {
    right: 0;
  }
  .o-marcas__title {
    font-size: 18px;
  }
  .o-categoria__list__grid {
    grid-template-columns: 1fr;
  }
  .o-categoria-head__title {
    font-size: 40px;
    line-height: 45px;
  }
  .o-products__price {
    flex-wrap: wrap;
  }
  .o-categoria__list {
    padding: 40px 15px;
  }
  .o-contacto__box {
    padding: 60px 40px;
  }
  .o-contacto__box form input[type="submit"] {
    float: none;
    margin-top: 20px;
  }
  .o-contacto-head__title {
    font-size: 40px;
    line-height: 45px;
  }
  .o-contacto__box form {
    margin-bottom: 0;
  }
  .o-contacto__box__top button {
    font-size: 16px;
  }
  .o-contacto__box .o-contacto-faqs .accordion {
    font-size: 14px;
  }
  .o-contacto__box {
    background-size: 170px;
  }
  .o-contacto-head__box {
    padding-top: 55px;
  }
  .search__content__list {
    grid-template-columns: 1fr;
  }
  .search__filters {
    padding: 20px;
  }
  .search__content {
    padding: 30px 20px;
    padding-top: 0;
  }
  .form-box {
    padding: 70px 50px;
  }
  .form-box .grid-form-3 {
    grid-template-columns: 1fr;
  }
}
/* mediaqueries max-480 */
@media screen and (max-width: 520px) {
  footer .o-footer-bottom {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  a#logo-footer {
    display: block;
    width: 100%;
  }
  a#logo-footer svg {
    display: table;
    margin: 0 auto;
  }
  ul.politicas {
    margin-top: 10px;
  }
  footer {
    padding: 25px 0;
  }
  footer .o-footer-top__info .info-top a {
    display: block;
  }
  footer .o-footer-top__info .info-top a:first-child {
    margin-bottom: 15px;
  }
  footer .o-footer-top__info .info-top {
    margin-bottom: 10px;
  }
  footer .o-footer-bottom .politicas li a {
    font-size: 10px;
  }
  .o-contacto__box {
    padding: 40px 15px;
  }
  .o-contacto__box__top button {
    font-size: 15px;
  }
  .form-box {
    padding: 40px 15px;
  }
  .form-box__title {
    font-size: 25px;
  }
  .form-box__subtitle {
    font-size: 12px;
  }
  .o-home-banners .banners-1 {
    padding: 30px;
  }
  .o-home-banners .banners-1 .title {
    font-size: 30px;
  }
  .o-home-banners .banners-1 .offer {
    font-size: 70px;
  }
  .o-home-banners .banners-5 .title {
    font-size: 40px;
    line-height: 45px;
  }
  .o-home-banners .banners-5 {
    padding-top: 35px;
  }
  .o-home-banners .banners-4 .title {
    font-size: 18px;
  }
  .o-category-home > .container {
    padding-top: 20px;
  }
  .o-home-banners {
    padding-bottom: 50px;
  }
  .o-form-home {
    padding-top: 50px;
  }
  .o-single-product__grid__slider__grid .slider-productos-right {
    height: auto;
  }
  .o-single-product__grid__info .btn-add {
    padding: 15px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    width: 100%;
  }
  .c-categoria .o-marcas {
    position: relative;
    padding: 50px 0;
  }
  .o-home-slider__cont__info {
    top: 30%;
  }
  .o-home-slider__cont {
    height: 650px;
  }
  .o-home-details__box {
    width: 100%;
  }
  .o-home-details {
    max-width: 320px;
  }
  .o-home-slider .slick-dots {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 320px;
    right: initial;
    left: 50%;
    z-index: 3;
    transform: translate(-50%);
  }
  .o-home-slider .slick-dots li {
    display: inline-block;
    margin-bottom: 0;
  }
  .o-products-offert:after {
    width: 36px;
    height: 38px;
    position: absolute;
    top: -6px;
    right: -33px;
  }
  .o-products-new:after {
    width: 36px;
    height: 38px;
    position: absolute;
    top: -6px;
    right: -33px;
  }
  .o-products-offert,
  .o-products-new {
    font-size: 10px;
  }
  .o-categoria-desc > .container {
    margin-top: 0;
  }
  .o-categoria-head__box {
    padding: 50px 15px;
  }
  .o-categoria-head {
    padding-top: 0;
  }
  .o-categoria-head__title {
    font-size: 30px;
    line-height: 35px;
  }
  .o-categoria-head__subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .o-categoria-desc .cont-hide .btn-more {
    transform: translate(-50%);
  }
  .o-categoria-desc {
    margin-bottom: 40px;
  }
  .pagination {
    margin-bottom: 15px;
  }
  .o-categoria__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translateX(100%);
    overflow: scroll;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
  }
  .sidebar-active {
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  .btn-open-filters {
    display: block;
  }
  .close-sidebar__box {
    display: flex;
    justify-content: flex-end;
  }
  .o-single-product__grid__info .title {
    font-size: 20px;
    line-height: 30px;
  }
  .o-single-product__grid__info .price {
    font-size: 25px;
  }
  .o-single-product__grid__info .price .old-price {
    font-size: 15px;
  }
  .o-single-product__grid__info .desc p {
    line-height: 24px;
  }
  .o-featured-products {
    padding-top: 35px;
  }
  .title-destacado {
    font-size: 25px;
  }
  .o-single-product__grid__slider__grid .slider-productos-left {
    height: 250px;
  }
  .o-single-product__grid__slider__grid .slider-productos-left .slick-slide {
    height: 250px;
  }
  #search {
    border-radius: 0;
  }
  .o-contacto-head__box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .o-contacto-head__title {
    font-size: 28px;
    line-height: 38px;
  }
  .o-contacto-head__subtitle {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */