/* mediaqueries max-1200 */

@media screen and (max-width: 1350px) {
	.c-header #menu #nav-menu .header-search{
		max-width: 270px;
	}
	.c-header #menu #nav-menu .menu-user{
		margin-left: 15px;
    	margin-right: 15px;
	}
	.c-header #menu #nav-menu ul li{
		margin-right: 25px;
	}
	.c-header #menu #nav-menu{
		max-width: 960px;
	}
	.o-category-home__list__category span{
		font-size: 12px;
	}
	.o-products__desc p{
		font-size: 12px;
	}
	.o-products__desc__info{
		font-size: 10px;
	}
	.o-products__desc__pay .see-products{
		padding: 10px;
	}
	.o-home-banners .banners-3 .title{
		font-size: 16px;
	}
	.o-home-banners .banners-3 p{
		font-size: 14px;
	}
	.o-single-product__tabs__buttons li button{
		width: 340px;
	}
}

/* mediaqueries max-1200 */

@media screen and (max-width: 1199px) {
	.c-header #menu #nav-menu .header-search {
	    max-width: 220px;
	}
	.c-header #menu #nav-menu ul li a{
		font-size: 13px;
	}
	.c-header #menu #nav-menu ul li {
    	margin-right: 15px;
	}
	.c-header #menu #nav-menu {
    	max-width: 790px;
	}
	.o-home-details__box p{
		font-size: 12px;
	}
	.o-home-details__box h3{
		font-size: 13px;
	}
	.o-home-details__box{
		width: 300px;
	}
	.o-home-details{
		padding: 0 15px;
	}
	.o-category-home__list{
		grid-template-columns: repeat(4, 1fr);
	}
	.o-home-banners__grid{
		grid-template-columns: 1fr 1fr;
	}
	.o-home-banners .banners{
		grid-column-end: auto;
		grid-column-start: auto;
		grid-row-end: auto;
		grid-row-start: auto;
		height: auto !important;

	}
	.o-categoria__list__grid{
		grid-template-columns: 1fr 1fr;
	}
	.o-categoria > .container{
		grid-template-columns: 290px 1fr;
	}
	.o-single-product__tabs__buttons li button{
		width: 280px;
		font-size: 15px;
	}
	.o-single-product__grid__info .btn-add{
		padding: 10px 15px;
	}
	.o-contacto__box{
		padding: 60px 120px;
	}
}