/* mediaqueries max-991 */

@media screen and (max-width: 991px) {
	#page-id-1 .c-header .header-top, .c-header .header-top{
		display: none;
	}
	.c-header #menu{
		background-color: #D6D2CB;
	}
	.c-header #menu #nav-menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #E0DDD7;
		max-width: 100%;
		justify-content: center;
    	align-items: initial;
    	padding-top: 50px;
		transform: translateY(-100vh);
		transition: all .5s ease;
	}
	.c-header #menu {
    	padding: 10px 0;
	}
	#page-id-1 .c-header #menu #nav-menu .header-search input{
		display: none;
	}
	.c-header #menu #nav-menu .menu-user{
		display: none;
	}
	.o-home-details{
		display: block;
	}
	.o-home-details__box{
		margin-bottom: 10px;
	}
	.o-home-details__box:last-child{
		margin-bottom: 0;
	}
	.o-category-home > .container{
		margin-top: 0;
	}
	.o-home-details{
		bottom: 30px;
		max-width: 300px;
		width: 100%;
	}
	a#logo{
		display: none;
	}
	.pre-menu-mobile{
		display: block;
	}
	#page-id-1 header.c-header.menu-fijo #menu #nav-menu ul li a, .c-header #menu #nav-menu ul li a{
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.03em;
		text-align: center;
		color: #3f3f3f !important;
		display: block;
		border-bottom: 1px solid #3F3F3F;
		padding: 10px 0;
	}
	#page-id-1 header.c-header.menu-fijo #menu #nav-menu ul li, .c-header #menu #nav-menu ul li{
		display: block;
		margin-right: 0;
	}
	.c-header #menu #nav-menu .header-search{
		display: none;
	}
	.c-header #menu #nav-menu ul{
		text-align: center;
		width: 100%;
	}
	.c-header #menu #nav-menu ul li .submenu .tornillo, .c-header #menu #nav-menu ul li .submenu .sombra{
		display: none;
	}
	.c-header #menu #nav-menu ul li .submenu{
		position: relative;
		left: 0;
    	top: 0;
    	padding: 15px;
    	width: 100%;
	}
	.c-header #menu #nav-menu ul li .submenu li{
		max-width: 100%;
	}
	.c-header #menu #nav-menu ul li .submenu li a{
		border-bottom: 0 !important;
		padding: 5px 0 !important;
	}
	.c-header #menu #nav-menu ul li .submenu:after{
		display: none;
	}
	.c-header #menu #nav-menu ul li .submenu:before{
		display: none;
	}
	.o-home-banners__grid{
		grid-template-columns: 1fr;
	}
	.o-categoria > .container{
		grid-template-columns: 1fr;
	}
	.o-categoria > .container{
		padding-left: 0;
		padding-right: 0;
	}
	main {
    	margin-top: 65px;
	}
	.o-single-product__grid{
		display: flex;
		flex-wrap: wrap;
	}
	.o-single-product__grid__slider, .o-single-product__grid__info{
		display: block;
		width: 100%;
	}
	.o-single-product__grid__slider__grid{
		display: flex;
		flex-wrap: wrap;
	}
	.o-single-product__grid__slider__grid .slider-productos-left{
		height: 380px;
	}
	.o-single-product__grid__slider__grid .slider-productos-left img{
		object-fit: contain;
		height: 85%;
	}
	.o-single-product__grid__slider__grid .slider-productos-right .slick-list {
    	margin: -7px 0px;
	}
	.o-single-product__tabs__buttons{
		flex-wrap: wrap;
	}
	.o-single-product__tabs__buttons li {
    	display: block;
    	width: 100%;
	}
	.o-single-product__tabs__buttons li button{
		width: 100%;
	}
	/*FOOTER*/
	footer .o-footer-top{
		flex-wrap: wrap;
	}
	footer .o-footer-top__info {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	flex-wrap: wrap;
    	width: 100%;
    	margin-top: 15px;
	}
	footer .o-footer-top__info .info-top{
		margin-bottom: 0;
	}
	.o-contacto__box form .grid-form-3{
		grid-template-columns: 1fr;
	}
	.search__content__list{
		grid-template-columns: 1fr 1fr;
	}
	.search__filters, #search{
		background-color: #E0DDD7;
	}
	#search{
		top: 40px;
	}
	.search{
		height: calc(100vh - 40px);
	}
	.search-active:after{
		content: none;
	}
	.search__filters__container{
		flex-wrap: wrap;
		justify-content: left;
		margin-top: 30px;
	}
	.irs--flat.irs-with-grid{
		display: block;
		width: 100%;
	}
	.search__filters .title{
		margin-bottom: 10px;
	}
	.search__filters .filters-selects{
		flex-wrap: wrap;
		margin-right: 0;
		margin-top: 15px;
		max-width: 100%;
	}
	.search__filters .style-select:nth-child(1), .search__filters .style-select{
		width: 100%;
		margin-bottom: 10px;
	}
	.search__filters .close-search{
		position: absolute;
	    top: 30px;
	    right: 40px;
	}

}