/* mediaqueries max-768 */

@media screen and (max-width: 767px) {
	.o-home-slider__cont__info h3{
		font-size: 35px;
    	line-height: 45px;
	}
	.o-category-home__list{
		overflow: auto;
		display: block;
		padding-top: 20px;
    	white-space: nowrap;
	}
	.o-category-home__list__category{
		display: inline-block;
	}
	.o-category-home__list__category{
		margin-right: 20px;
	}
	.o-category-home {
    	padding-bottom: 0;
	}
	.o-featured-products{
		margin-top: 45px;
	}
	.o-products:hover{
		transform: scale(1);
	}
	.o-products:hover .o-products__desc{
		visibility: hidden;
		opacity: 0;
	}
	.o-products .o-products__desc{
		display: none;
	}
	.o-products{
		display: flex !important;
		justify-content: space-between;
		border-radius: 5px;
	}
	.o-products__img{
		width: 30%;
		height: auto;
	}
	.o-products__info{
		width: 70%;
		padding: 20px;
	}
	.o-featured-products__list .o-products{
		margin-bottom: 15px;
		margin-top: 0;
	}
	.o-featured-products__list .slick-slide > div{
		margin-bottom: 0;
	}
	.o-featured-products__list{
		margin-top: 20px;
	}
	.o-marcas .slick-prev{
		left: 0;
	}
	.o-marcas .slick-next{
		right: 0;
	}
	.o-marcas__title{
		font-size: 18px;
	}
	.o-categoria__list__grid {
    	grid-template-columns: 1fr;
	}
	.o-categoria-head__title{
		font-size: 40px;
		line-height: 45px;
	}
	.o-products__price{
		flex-wrap: wrap;
	}
	.o-categoria__list {
    	padding: 40px 15px;
	}
	.o-contacto__box {
    	padding: 60px 40px;
	}
	.o-contacto__box form input[type="submit"]{
		float: none;
		margin-top: 20px;
	}
	.o-contacto-head__title{
		font-size: 40px;
		line-height: 45px;
	}
	.o-contacto__box form {
    	margin-bottom: 0;
	}
	.o-contacto__box__top button{
		font-size: 16px;
	}
	.o-contacto__box .o-contacto-faqs .accordion{
		font-size: 14px;
	}
	.o-contacto__box{
		background-size: 170px;
	}
	.o-contacto-head__box{
		padding-top: 55px;
	}
	.search__content__list {
    	grid-template-columns: 1fr;
	}
	.search__filters{
		padding: 20px;
	}
	.search__content{
		padding: 30px 20px;
		padding-top: 0;
	}
	.form-box{
		padding: 70px 50px;
	}
	.form-box .grid-form-3{
		grid-template-columns: 1fr;
	}
}