/* error 404 */

.error-404 {
	background: url(../images/bg-sombreros.jpg) repeat;
	padding: 220px 0 150px 0;
	text-align: center;
	h1 {
		.bold;
		.font-size(32);
		color: grey;
		text-transform: uppercase;
	}
	p {
		.font-size(39);
		color: grey;
		padding-top: 15px;
	}
	.mas {
		a {
			background: green;
			&:hover {
				color: pink;
			}
		}
	}
}