.o-categoria-head{
	padding-top: 15px;
	border-radius: 5px;
	&__box{
		padding-top: 90px;
		padding-bottom: 110px;
		background-image: url('../images/categoria-head.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;
	}
	&__subtitle{
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #fff;
	}
	&__title{
		.extra;
		font-size: 55px;
		line-height: 65px;
		text-align: center;
		color: #fff;
	}
}

.o-categoria{
	padding-bottom: 55px;
}

.btn-open-filters{
	display: none;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: #3f3f3f;
	padding: 5px 10px;
	border-radius: 5px;
	background: #eac033;
	max-width: 110px;
	border: 0;
	position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 8;
}

.close-sidebar__box{
	display: none;
	margin-bottom: 10px;
}
.close-sidebar{
	width: 25px;
	height: 25px;
	position: relative;
	span{
		width: 100%;
		height: 1px;
		background-color: #3f3f3f;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	span:nth-child(1){
		transform: translate(-50%, -50%) rotate(45deg);
	}
	span:nth-child(2){
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.o-categoria-desc{
	margin-bottom: 65px;
	> .container{
		background-color: #fff;
		border-radius: 5px;
		margin-top: -60px;
		z-index: 2;
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
	}

	.cont-hide{
		max-width: 760px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		.breadcrumbs{
			text-align: center;
			margin-bottom: 20px;
		}
		.btn-more{
			position: absolute;
		    border: none;
		    bottom: -37.5px;
		    left: 50%;
		    width: 35px;
		    height: 35px;
		    background: url(../images/producto-more.svg) no-repeat center;
		}
		.btn-more-active{
			background: url(../images/producto-more-2.svg) no-repeat center;
		}
		.gradient{
			height: 55px;
		    background: rgba(255, 255, 255, 0);
		    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
		    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0.83)));
		    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
		    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
		    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
		    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.83) 0%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
		    position: absolute;
		    bottom: -20px;
		    left: 0;
		    width: 100%;
		    transition: all 0.5s;
		    &:after{
		    	content: '';
			    display: block;
			    background: url(../images/producto-shadow.svg) no-repeat center;
			    width: 100%;
			    height: 10px;
			    cursor: pointer;
			    position: absolute;
			    top: 100%;
			    left: 0;
		    }
		}
		.gradient-active{
			background: none;
			visibility: hidden;
		}
		p{
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #3f3f3f;
			height: 85px;
			overflow: hidden;
		}
	}
	.cont-hide-active{
		p{
			height: auto;
		}
	}
}
.o-categoria{
	> .container{
		background-color: #F4F4F4;
		border-radius: 5px;
		display: grid;
		grid-template-columns: 330px 1fr;
		padding-left: 0;
	}
	&__sidebar{
		background-color: #E0DDD7;
		border-radius: 5px 0px 0px 0px;
		padding: 40px;
		.top-sidebar{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			.title{
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-align: left;
				color: #3f3f3f;
			}
			.btn-borrar{
				font-family: Montserrat;
				font-weight: normal;
				font-size: 12px;
				border: 0;
				background-color: transparent;
				letter-spacing: 0.05em;
				color: #3f3f3f;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.filters{
			margin-bottom: 30px;
			.style-select{
				margin-bottom: 15px;
			}
			.style-select:last-child{
				margin-bottom: 0px;
			}
			h3{
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				color: #3f3f3f;
				margin-bottom: 10px;
			}
		}
		.banner-img{
			margin-bottom: 30px;
			img{
				transition: all .5s ease;
			}
			&:hover{
				img{
					opacity: .8;
					transition: all .5s ease;
				}
			}
		}
		.style-select{
			position: relative;
			background-image: url('../images/ico-select.svg');
			background-position: center right 13px;
			background-repeat: no-repeat;
			background-size: 11px;
			select{
				.appearance;
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-align: left;
				color: #83796a;
				width: 100%;
				background-color: transparent;
				padding: 6px 13px;
				border: 1px solid #83796A;
				border-radius: 5px;
			}
		}
		.info-sidebar{
			li{
				display: grid;
				grid-template-columns: 37px 1fr;
				grid-gap: 20px;
				align-items: center;
				margin-bottom: 20px;
				img{
					display: block;
					margin: 0 auto;
				}
				h3{
					font-weight: 600;
					font-size: 13px;
					text-align: left;
					color: #3f3f3f;
					margin-bottom: 3px;
				}
				span{
					font-weight: normal;
					font-style: italic;
					font-size: 12px;
					text-align: left;
					color: #3f3f3f;
					display: block;
				}
			}
			li:last-child{
				margin-bottom: 0px;
			}
		}
	}
	&__list{
		padding: 40px 60px;
		.total-results{
			font-size: 14px;
			letter-spacing: 0.05em;
			display: block;
			margin-bottom: 15px;
			color: #3f3f3f;
		}
		&__grid{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 15px;
		}
	}
}