// Contenedores
@media screen and (min-width: 1600px) {
	.cont-1500 {
		width: 1580px;
	}
}

@media screen and (min-width: 1400px) {
	.cont-1400 {
		width: 1390px;
	}
}

@media screen and (min-width: 1350px) {
	.cont-1300 {
		width: 1330px;
	}
}

@media screen and (min-width: 1250px) {
	.cont-1200 {
		width: 1260px;
	}
}

@media screen and (min-width: 1100px) {
	.cont-1040 {
		width: 1070px;
	}
}

@media screen and (min-width: 991px) {
	.cont-960 {
		width: 960px;
	}
}