
.container-portada{
	max-width: 98%;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	position: relative;
}
.o-home-slider{
	position: relative;
	.slick-dots{
		position: absolute;
	    top: 40%;
	    width: 16px;
	    right: 60px;
	    z-index: 3;
	    transform: translate(-50%,0);
	    li{
	    	display: block;
	    	margin-bottom: 10px;
	    	button{
	    		width: 16px;
	    		height: 16px;
	    		border: 1px solid #fff;
	    		border-radius: 50%;
	    		background-color: rgba(152, 142, 125, .7);
	    		font-size: 0;
	    		&:before{
	    			content: 'none';
	    			font-size: 0;
	    		}
	    	}
	    }
	    li.slick-active{
	    	button{
	    		background-color: #fff;
	    	}
	    }
	    li:last-child{
	    	margin-bottom: 0;
	    }
	}
	&__cont{
		position: relative;
		height: 720px;
		width: 100%;
		border-radius: 5px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 445px;
			border-radius: 5px;
			background-image: linear-gradient(#171515, transparent);
			z-index: 2;
		}
		> .container{
			position: relative;
			height: 100%;
			z-index: 3;
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 5px;
		}
		&__info{
			position: absolute;
			top: 40%;
			left: 15px;
			transform: translate(0,-50%);
			h3{
				font-weight: normal;
				font-size: 55px;
				line-height: 65px;
				text-align: left;
				color: #fff;
				max-width: 600px;
				width: 100%;
				.extra;
				span{
					color: #CBC6BD;
				}
			}
			p{
				font-weight: normal;
				font-size: 21px;
				line-height: 28px;
				text-align: left;
				color: #fff;
				max-width: 430px;
				width: 100%;
			}
		}
	}
}

.o-category-home{
	padding-bottom: 70px;
	> .container{
		padding-top: 55px;
	    border-radius: 5px;
	    margin-top: -150px;
	    position: relative;
	    z-index: 2;
	    background: #fff;
	}
	&__list{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 50px;
		max-width: 1230px;
		width: 100%;
		margin: 0 auto;
		margin-top: 35px;
		&__category{
			padding: 20px;
			background-color: #D6D2CB;
			border-radius: 5px;
			position: relative;
			transition: all .5s ease;
			span{
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-align: left;
				color: #3f3f3f;
				max-width: 115px;
				width: 100%;
				display: block;
				transition: all .5s ease;
			}
			.category-eye{
				position: absolute;
				top: -15px;
				right: -15px;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				width: 32px;
				background: #2a5d73;
				filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
				display: flex;
				justify-content: center;
				flex-direction: column;
				svg{
					display: block;
					margin: 0 auto;
				}
			}
			&:hover{
				background-color: #2A5D73;
				transition: all .5s ease;
				span{
					color: #fff;
					transition: all .5s ease;
				}
			}
		}
		&__category:nth-child(1){
			background-image: url('../images/category-fijaciones.png');
			background-repeat: no-repeat;
			background-position: bottom -25px right -35px;
		}
		&__category:nth-child(2){
			background-image: url('../images/category-cintas.png');
			background-repeat: no-repeat;
			background-position: bottom -20px right 0px;
		}
		&__category:nth-child(3){
			background-image: url('../images/category-electrica.png');
			background-repeat: no-repeat;
			background-position: bottom -50px right -40px;
		}
		&__category:nth-child(4){
			background-image: url('../images/category-manual.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(5){
			background-image: url('../images/category-corte.png');
			background-repeat: no-repeat;
			background-position: bottom -5px right -5px;
		}
		&__category:nth-child(6){
			background-image: url('../images/category-escaleras.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(7){
			background-image: url('../images/category-proteccion.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(8){
			background-image: url('../images/category-taller.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(9){
			background-image: url('../images/category-soldadura.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(10){
			background-image: url('../images/category-escritura.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(11){
			background-image: url('../images/category-pintura.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
		&__category:nth-child(12){
			background-image: url('../images/category-cuerdas.png');
			background-repeat: no-repeat;
			background-position: bottom 0px right 0px;
		}
	}
}
.o-home-details{
	max-width: 1065px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 170px;
	left: 50%;
	transform: translate(-50%,0);
	&__box{
		width: 332px;
		border-radius: 5px;
		padding: 20px;
		background: rgba(23, 21, 21, .8);
		display: flex;
		align-items: center;
		svg{
			margin-right: 20px;
		}
		h3{
			font-weight: 600;
			font-size: 15px;
			text-align: left;
			color: #fff;
		}
		p{
			font-weight: normal;
			font-style: italic;
			font-size: 14px;
			text-align: left;
			color: #fff;
		}
	}
}

.o-featured-products{
	background-color: #F4F4F4;
	padding-top: 85px;
	padding-bottom: 0px;
	border-radius: 5px;
	max-width: 98%;
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;

	&__list{
		.slick-slide{
			margin: 0 7.5px;
    		margin-bottom: 350px;
		}
		.slick-track{
			/*padding: 0 50px;*/
		}
		.slick-slide > div{
			margin-bottom: -200px;
		}
		.o-products{
			margin-top: 45px;
			margin-bottom: 200px;
		}
	}
}

.o-products-offert{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #DB3C3C;
	padding: 3px 10px;
	&:after{
		content: '';
		display: block;
		background-image: url('../images/ico-oferta.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
	    height: 38px;
	    position: absolute;
	    top: -7px;
	    right: -35px;
	}
}
.o-products-new{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #50C724;
	padding: 3px 10px;
	&:after{
		content: '';
		display: block;
		background-image: url('../images/ico-new.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
	    height: 38px;
	    position: absolute;
	    top: -7px;
	    right: -35px;
	}
}

.o-products{
	background-color: #fff;
	border: 1px solid #D6D2CB;
	position: relative;
	transition: all .5s ease;
	&__img{
		width: 100%;
		height: 210px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img{
			object-fit: contain;
			width: 100%;
			height: 100%;
			display: block;
			margin: 0 auto;
			transition: all 1s ease;
		}
		&:hover{
			img{
				transform: scale(1.3);
				transition: all 1s ease;
			}
		}
	}
	&__info{
		padding: 40px;
	}
	&__category{
		font-weight: normal;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		text-align: left;
		color: #2a5d73;
	}
	&__title{
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-align: left;
		color: #3F3F3F;
		margin-bottom: 10px;
		span{
			color: #988E7D;
			display: block;
		}
		&:hover{
			text-decoration: underline;
		}
	}
	&__price{
		display: flex;
		align-items: center;
		font-family: Montserrat;
		font-weight: 600;
		font-size: 20px;
		text-align: left;
		color: #50c724;
		.old-price{
			margin-right: 10px;
			text-decoration:line-through;
			font-weight: 600;
			font-size: 15px;
			text-align: left;
			color: #a3a3a3;
		}
	}
	&__desc{
		position: absolute;
		padding: 40px 20px;
		padding-top: 10px;
		background-color: #fff;
		width: 100%;
		border: 1px solid #d6d2cb;
	    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.25);
	    border-top: 0;
	    visibility: hidden;
	    opacity: 0;
	    transition: all .5s ease;
		p{
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			text-align: left;
			color: #3f3f3f;
		}
		&__info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			font-weight: normal;
			font-size: 14px;
			color: #2a5d73;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		&__pay{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			.see-products{
				font-weight: 600;
				font-size: 14px;
				text-align: center;
				color: #3f3f3f;
				background-color: #EAC033;
				padding: 10px 30px;
				border-radius: 5px;
				&:hover{
					background-color: #D6D2CB;
				}
			}
			.add-product{
				background-image: url('../images/ico-carrito-product.svg');
				background-repeat: no-repeat;
				background-size: 25px;
				background-position: center;
				width: 85px;
				height: 35px;
				background-color: #D6D2CB;
				border-radius: 5px;
				transition: all .5s ease;
				&:hover{
					background-color: #EAC033;
					transition: all .5s ease;
				}
			}
		}
	}
	&:hover{
		transform: scale(1.2);
		z-index: 2;
		transition: all .5s ease;
		.o-products__desc{
			visibility: visible;
			opacity: 1;
			z-index: 2;
			transition: all .5s ease;
		}
	}
}

.o-home-banners{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #fff;
	margin-top: -270px;
	&__grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 13px;
	}
	.banners-1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		background-image: url('../images/home-banner-1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 60px;
		.title{
			.extra;
			font-size: 36px;
			line-height: 43px;
			text-align: left;
			color: #eac033;
			margin-bottom: 8px;
		}
		.offer{
			font-weight: normal;
			font-size: 100px;
			line-height: 80px;
			color: #fff;
			margin-bottom: 10px;
			span{
				display: block;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 23px;
				letter-spacing: 0.15em;
				line-height: 30px;
				color: #fff;
			}
		}
		p{
			font-weight: normal;
			font-size: 16px;
			text-align: left;
			color: #fff;
			margin-bottom: 40px;
		}
	}
	.banners-2{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		height: 210px;
		background-image: url('../images/home-banner-2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 25px;
		padding-top: 125px;
		.title{
			.extra;
			font-size: 22px;
			line-height: 23px;
			text-align: left;
			color: #db3c3c;
		}
		span{
			font-weight: normal;
			font-size: 14px;
			text-align: left;
			color: #3f3f3f;
			display: block;
		}
	}
	.banners-3{
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		height: 210px;
		background-image: url('../images/home-banner-3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 30px;
		img{
			display: block;
			margin-bottom: 18px;
		}
		.title{
			.extra;
			font-size: 22px;
			line-height: 23px;
			text-align: left;
			color: #eac033;
			margin-bottom: 5px;
		}
		p{
			font-size: 16px;
			text-align: left;
			color: #fff;
		}
	}
	.banners-4{
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		height: 210px;
		background-image: url('../images/home-banner-5.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 35px;
		padding-top: 40px;
		.title{
			.extra;
			font-size: 22px;
			line-height: 23px;
			text-align: left;
			color: #3f3f3f;
			max-width: 230px;
			width: 100%;
			margin-bottom: 5px;
		}
		span{
			display: block;
			font-weight: 600;
			font-size: 37px;
			text-align: left;
			color: #2a5d73;
			display: block;
			margin-bottom: 15px;	
		}
		.btn-eye{
			border-radius: 50%;
			width: 32px;
			height: 32px;
			width: 32px;
			background: #fff;
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
			display: flex;
			justify-content: center;
			flex-direction: column;
			svg{
				display: block;
				margin: 0 auto;
				path{
					fill: #2A5D73;
				}
			}
			&:hover{
				background-color: #2A5D73;
				svg{
					path{
						fill: #fff;
					}
				}
			}
		}
	}
	.banners-5{
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 3;
		background-image: url('../images/home-banner-4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 35px;
		padding-top: 140px;
		span{
			font-size: 16px;
			letter-spacing: 0.2em;
			text-align: center;
			color: #fff;
			display: block;
		}
		.title{
			.extra;
			font-size: 53px;
			line-height: 55px;
			text-align: center;
			color: #fff;
			margin-bottom: 70px;
		}
		.btn-yellow{
			display: table;
			margin: 0 auto;
		}
	}
	.banners{
		border-radius: 5px;
		border: 1px solid #D6D2CB;
	}
}
.o-marcas{
	position: relative;
	&__title{
		font-weight: 600;
		font-size: 22px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #2a5d73;
		margin-bottom: 30px;
	}
	&__slider{
		padding: 0 50px;
		p{
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
	.slick-next{
		width: 18px;
		height: 18px;
		font-size: 0;
		background-image: url('../images/slick-next.svg');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
		&:before{
			content: none;
		}
	}
	.slick-prev{
		width: 18px;
		height: 18px;
		font-size: 0;
		background-image: url('../images/slick-prev.svg');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
		&:before{
			content: none;
		}
	}
}
.o-form-home{
	padding-top: 80px;
	padding-bottom: 65px;
}
.form-box{
	background-color: #F4F4F4;
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 70px 150px;
	&__subtitle{
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #988e7d;
		margin-bottom: 5px;
	}
	&__title{
		font-weight: 600;
		font-size: 35px;
		text-align: center;
		color: #2a5d73;
		margin-bottom: 20px;
	}
	.grid-form-3{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	input[type="text"], input[type="email"], input[type="tel"], textarea{
		width: 100%;
		border-radius: 5px;
		background: transparent;
		border: 1px solid #c1bbb0;
		padding: 10px;
		margin-top: 8px;
	}
	label{
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.2em;
		text-align: left;
		color: #3f3f3f;
		display: block;
	}
	label.politicas{
		font-weight: normal;
		font-size: 14px;
		text-align: left;
		color: #988e7d;
		margin-top: 8px;
		a{
			text-decoration: underline;
		}
	}
	input[type="submit"]{
		font-weight: 600;
		font-size: 14px;
		text-align: center;
		color: #3f3f3f;
		padding: 10px 50px;
		background-color: #EAC033;
		border-radius: 5px;
		border: 0;
		margin-top: 8px;
		text-transform: uppercase;
		text-align: center;
		&:hover{
			background-color: #D6D2CB;
		}
	}
}