/* legal */
.content-gen {
	padding: 80px 0 140px 0;
	.mod-legal {
		.title {
			.bold;
			.font-size(32);
			color: red;
			margin-bottom: 35px;
			text-transform: uppercase;
		}
		h2 {
			.bold;
			.font-size(24);
			color: red;
			margin-bottom: 20px;
		}
		p {
			.light;
			.font-size(18);
			color: red;
			margin-bottom: 15px;
		}
	}
}