/* commons */
html {
	font-family: 'Montserrat', sans-serif;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	// height: 100%;
	.relative;
	overflow-x: hidden;
	body {
		.total;
		// width: 100%;
		// height: 100%;
	}
}
body{
	overflow-x: hidden;
	position: relative;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: inherit;
}
*{margin:0;padding:0;text-decoration:none}
p {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
.sans-serif {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.serif {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: @link-color;
}
img {
	max-width: 100%;
	height: auto;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;	
}
.total {
	float: left;
	width: 100%;
}
ul, li {
	list-style-type: none;
	padding-left: 0;
}
.right, .alignright {
	float: right !important;
}
.left, .alignleft {
	float: left !important;
}
.p0 {
	padding-left: 0;
	padding-right: 0;
}
.pl0 {
	padding-left: 0;
}
.pr0 {
	padding-right: 0;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
img {
	max-width: 100%;
}
form, .form {
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea {
		.total;
		border: 1px solid #e5e5e5;
		padding: 10px;
		margin-bottom: 10px;
	}
	textarea {
		max-height: 100px;
	}
	label {
		.font-size(11);
		text-align: left;
		color: #666666;
		.checkbox {
			.left;
			margin-top: 0;
		}
	}
	input[type="submit"] {
		// .btn;
		// .btn-orange;
		// .btn-16;
	}
	div.wpcf7-validation-errors {
		// display: none;
		.total;
		.text-center;
		border: 0;
		border-top: 2px solid red;
		padding-top: 20px;
		color: #999;
	}
	div.wpcf7-mail-sent-ok {
		.total;
		.text-center;
		border: 0;
		border-top: 2px solid green;
		padding-top: 20px;
		color: #999;
	}
	span.wpcf7-not-valid-tip {
		display: none;
	}
	.wpcf7-not-valid {
		background: fade(red, 40%);
	}
}
h1, h2, h3, h4, h5, h6 {
	color: @main-color;
}
p {
	color: @text-color;
	font-family: 'Montserrat', sans-serif;
}
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}
.gallery {
	.total;
	margin-bottom: 30px !important;
	margin-left: -10px !important;
	margin-right: -10px !important;
	.gallery-item {
		padding: 0 10px;
	}
}
/* Galería */
.gallery-columns-1 dl {
	display: block;
	width: 100%;
}	
.gallery-columns-2 dl {
	display: block;
	float: left;
	width: 50%;
}	
.gallery-columns-3 dl {
	display: block;
	float: left;
	width: 33.3%;
}	
.gallery-columns-4 dl {
	display: block;
	float: left;
	width: 25%;
}
.gallery-columns-5 dl {
	display: block;
	float: left;
	width: 20%;
}	
.gallery-columns-6 dl {
	display: block;
	float: left;
	width: 16.6%;
}	
.gallery-columns-7 dl {
	display: block;
	float: left;
	width: 14.28%;
}	
.gallery-columns-8 dl {
	display: block;
	float: left;
	width: 12.5%;
}	
.gallery-columns-9 dl {
	display: block;
	float: left;
	width: 11.11%;
}
.pagination {
    text-align: center;
    margin: 60px 0 70px 0;
    ul {
        li {
            display: inline-block;
            float: none;
            vertical-align: top;
            text-align: center;
            a {
				font-weight: 600;
				font-size: 12px;
				letter-spacing: 0.05em;
				text-align: center;
				color: #3f3f3f;
				width: 19px;
				display: flex;
				flex-direction: column;
	            justify-content: center;
	            align-items: center;
				height: 19px;
				background: transparent;
				border: 1px solid #d6d2cb;
				border-radius: 50%;
				&:hover {
	                background: #d6d2cb;
	            }
                &.current {
                    background: grey;
                    color: white;
                }
                &.prev {
                	background: url(../images/arrow-paginacion-prev.png) no-repeat center transparent;
                	background-color: transparent;
                	border: 0;
                	&:hover {
						background: url(../images/arrow-paginacion-prev.png) no-repeat center transparent;
						background-color: transparent;
                	}
                }
                &.next {
                	background: url(../images/arrow-paginacion-next.png) no-repeat center transparent;
                	background-color: transparent;
                	border: 0;
                	&:hover {
						background: url(../images/arrow-paginacion-next.png) no-repeat center transparent;
						background-color: transparent;
                	}
                }
                &.active{
					background: #d6d2cb;
                }
            }
        }
    }
}