/* mediaqueries max-480 */


@media screen and (max-width: 520px) {
	footer .o-footer-bottom {
	    margin-top: 5px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	}
	a#logo-footer{
		display: block;
		width: 100%;

		svg{
			display: table;
			margin: 0 auto;
		}
	}
	ul.politicas{
		margin-top: 10px;
	}
	footer {
    	padding: 25px 0;
	}
	footer .o-footer-top__info .info-top a{
		display: block;
	}
	footer .o-footer-top__info .info-top a:first-child{
		margin-bottom: 15px;
	}
	footer .o-footer-top__info .info-top {
    	margin-bottom: 10px;
	}
	footer .o-footer-bottom .politicas li a{
		font-size: 10px;
	}
	.o-contacto__box {
    	padding: 40px 15px;
	}
	.o-contacto__box__top button{
		font-size: 15px;
	}
	.form-box{
		padding: 40px 15px;
	}
	.form-box__title{
		font-size: 25px;
	}
	.form-box__subtitle{
		font-size: 12px;
	}
	.o-home-banners .banners-1{
		padding: 30px;
	}
	.o-home-banners .banners-1 .title{
		font-size: 30px;
	}
	.o-home-banners .banners-1 .offer{
		font-size: 70px;
	}
	.o-home-banners .banners-5 .title{
		font-size: 40px;
    	line-height: 45px;
	}
	.o-home-banners .banners-5{
		padding-top: 35px;
	}
	.o-home-banners .banners-4 .title{
		font-size: 18px;
	}
	.o-category-home > .container{
		padding-top: 20px;
	}
	.o-home-banners{
		padding-bottom: 50px;
	}
	.o-form-home{
		padding-top: 50px;
	}
	.o-single-product__grid__slider__grid .slider-productos-right{
		height: auto;
	}
	.o-single-product__grid__info .btn-add {
    	padding: 15px 15px;
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	z-index: 8;
    	width: 100%;
	}
	.c-categoria .o-marcas {
    	position: relative;
    	padding: 50px 0;
	}
	.o-home-slider__cont__info{
		top: 30%;
	}
	.o-home-slider__cont{
		height: 650px;
	}
	.o-home-details__box{
		width: 100%;
	}
	.o-home-details{
		max-width: 320px;
	}
	.o-home-slider .slick-dots {
    	position: absolute;
    	top: 50%;
    	width: 100%;
    	max-width: 320px;
    	right: initial;
    	left: 50%;
    	z-index: 3;
    	transform: translate(-50%);
	}
	.o-home-slider .slick-dots li {
    	display: inline-block;
    	margin-bottom: 0;
	}
	.o-products-offert:after{
		width: 36px;
	    height: 38px;
	    position: absolute;
	    top: -6px;
	    right: -33px;
	}
	.o-products-new:after{
		width: 36px;
	    height: 38px;
	    position: absolute;
	    top: -6px;
	    right: -33px;
	}
	.o-products-offert, .o-products-new{
		font-size: 10px;
	}
	.o-categoria-desc > .container{
		margin-top: 0;
	}
	.o-categoria-head__box{
		padding: 50px 15px;
	}
	.o-categoria-head{
		padding-top: 0;
	}
	.o-categoria-head__title {
    	font-size: 30px;
    	line-height: 35px;
	}
	.o-categoria-head__subtitle{
		font-size: 12px;
		margin-bottom: 5px;
	}
	.o-categoria-desc .cont-hide .btn-more{
		transform: translate(-50%);
	}
	.o-categoria-desc {
    	margin-bottom: 40px;
	}
	.pagination{
		margin-bottom: 15px;
	}
	.o-categoria__sidebar{
		position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 20;
	    transform: translateX(100%);
	    overflow: scroll;
	    width: 100%;
	    height: 100vh;
	    transition: all .5s ease;
	}
	.sidebar-active{
		transform: translateX(0);
		transition: all .5s ease;
	}
	.btn-open-filters{
		display: block;
	}
	.close-sidebar__box{
		display: flex;
		justify-content: flex-end;
	}
	.o-single-product__grid__info .title{
		font-size: 20px;
		line-height: 30px;
	}
	.o-single-product__grid__info .price{
		font-size: 25px;
	}
	.o-single-product__grid__info .price .old-price{
		font-size: 15px;
	}
	.o-single-product__grid__info .desc p{
		line-height: 24px;
	}
	.o-featured-products{
		padding-top: 35px;
	}
	.title-destacado{
		font-size: 25px;
	}
	.o-single-product__grid__slider__grid .slider-productos-left {
    	height: 250px;
	}
	.o-single-product__grid__slider__grid .slider-productos-left .slick-slide{
		height: 250px;
	}
	#search{
		border-radius: 0;
	}
	.o-contacto-head__box{
		padding-left: 15px;
    	padding-right: 15px;
	}
	.o-contacto-head__title {
    	font-size: 28px;
    	line-height: 38px;
	}
	.o-contacto-head__subtitle{
		font-size: 14px;
	}
}